-- =============================================
-- Author:		fhi
-- Create date: 07.04.2015
-- Description:	inq suzuki msi v2
-- =============================================
ALTER PROCEDURE [dbo].[uspfn_WhInqMsiV2ByBranch_SPK] 
	@Area varchar(250),
	@CompanyCode varchar(20),
	@BranchCode varchar(20),
	@PeriodYear varchar(20)
AS
BEGIN

declare
@sgaa_1 numeric(18,2),
@sgaa_2 numeric(18,2),
@sgaa_3 numeric(18,2),
@sgaa_4 numeric(18,2),
@sgaa_5 numeric(18,2),
@sgaa_6 numeric(18,2),
@sgaa_7 numeric(18,2),
@sgaa_8 numeric(18,2),
@sgaa_9 numeric(18,2),
@sgaa_10 numeric(18,2),
@sgaa_11 numeric(18,2),
@sgaa_12 numeric(18,2),

@sgam_1 numeric(18,2),
@sgam_2 numeric(18,2),
@sgam_3 numeric(18,2),
@sgam_4 numeric(18,2),
@sgam_5 numeric(18,2),
@sgam_6 numeric(18,2),
@sgam_7 numeric(18,2),
@sgam_8 numeric(18,2),
@sgam_9 numeric(18,2),
@sgam_10 numeric(18,2),
@sgam_11 numeric(18,2),
@sgam_12 numeric(18,2),

@sgai_1 numeric(18,2),
@sgai_2 numeric(18,2),
@sgai_3 numeric(18,2),
@sgai_4 numeric(18,2),
@sgai_5 numeric(18,2),
@sgai_6 numeric(18,2),
@sgai_7 numeric(18,2),
@sgai_8 numeric(18,2),
@sgai_9 numeric(18,2),
@sgai_10 numeric(18,2),
@sgai_11 numeric(18,2),
@sgai_12 numeric(18,2),

@stl1_1 numeric(18,2),
@stl1_2 numeric(18,2),
@stl1_3 numeric(18,2),
@stl1_4 numeric(18,2),
@stl1_5 numeric(18,2),
@stl1_6 numeric(18,2),
@stl1_7 numeric(18,2),
@stl1_8 numeric(18,2),
@stl1_9 numeric(18,2),
@stl1_10 numeric(18,2),
@stl1_11 numeric(18,2),
@stl1_12 numeric(18,2),

@stl2_1 numeric(18,2),
@stl2_2 numeric(18,2),
@stl2_3 numeric(18,2),
@stl2_4 numeric(18,2),
@stl2_5 numeric(18,2),
@stl2_6 numeric(18,2),
@stl2_7 numeric(18,2),
@stl2_8 numeric(18,2),
@stl2_9 numeric(18,2),
@stl2_10 numeric(18,2),
@stl2_11 numeric(18,2),
@stl2_12 numeric(18,2)

set @sgaa_1 = (select x.DPPAmt from (select 
					srv.CompanyCode,
					srv.BranchCode,
					year(srv.JobOrderClosed) PeriodYear,
					MONTH(srv.JobOrderClosed) PeriodMonth,
					sum((SupplyQty * RetailPrice) - (RetailPrice*(discPct/100))) as DPPAmt 
				from svTrnsrvItem srvi	
				inner join svtrnservice srv on srv.CompanyCode=srvi.CompanyCode and srv.BranchCode=srvi.BranchCode and srv.serviceNo=srvi.ServiceNo
				where srvi.TypeOfGoods = '2'
				and srvi.companycode=@CompanyCode
				and srvi.branchCode=@BranchCode
				and year(srv.JobOrderClosed)=@PeriodYear
				and MONTH(srv.JobOrderClosed)='1'
				group by srv.CompanyCode,srv.BranchCode,year(srv.JobOrderClosed),MONTH(srv.JobOrderClosed)
				)x)
set @sgaa_2 = (select x.DPPAmt from (select 
					srv.CompanyCode,
					srv.BranchCode,
					year(srv.JobOrderClosed) PeriodYear,
					MONTH(srv.JobOrderClosed) PeriodMonth,
					sum((SupplyQty * RetailPrice) - (RetailPrice*(discPct/100))) as DPPAmt 
				from svTrnsrvItem srvi	
				inner join svtrnservice srv on srv.CompanyCode=srvi.CompanyCode and srv.BranchCode=srvi.BranchCode and srv.serviceNo=srvi.ServiceNo
				where srvi.TypeOfGoods = '2'
				and srvi.companycode=@CompanyCode
				and srvi.branchCode=@BranchCode
				and year(srv.JobOrderClosed)=@PeriodYear
				and MONTH(srv.JobOrderClosed)='2'
				group by srv.CompanyCode,srv.BranchCode,year(srv.JobOrderClosed),MONTH(srv.JobOrderClosed)
				)x)
set @sgaa_3 = (select x.DPPAmt from (select 
					srv.CompanyCode,
					srv.BranchCode,
					year(srv.JobOrderClosed) PeriodYear,
					MONTH(srv.JobOrderClosed) PeriodMonth,
					sum((SupplyQty * RetailPrice) - (RetailPrice*(discPct/100))) as DPPAmt 
				from svTrnsrvItem srvi	
				inner join svtrnservice srv on srv.CompanyCode=srvi.CompanyCode and srv.BranchCode=srvi.BranchCode and srv.serviceNo=srvi.ServiceNo
				where srvi.TypeOfGoods = '2'
				and srvi.companycode=@CompanyCode
				and srvi.branchCode=@BranchCode
				and year(srv.JobOrderClosed)=@PeriodYear
				and MONTH(srv.JobOrderClosed)='3'
				group by srv.CompanyCode,srv.BranchCode,year(srv.JobOrderClosed),MONTH(srv.JobOrderClosed)
				)x)
set @sgaa_4 = (select x.DPPAmt from (select 
					srv.CompanyCode,
					srv.BranchCode,
					year(srv.JobOrderClosed) PeriodYear,
					MONTH(srv.JobOrderClosed) PeriodMonth,
					sum((SupplyQty * RetailPrice) - (RetailPrice*(discPct/100))) as DPPAmt 
				from svTrnsrvItem srvi	
				inner join svtrnservice srv on srv.CompanyCode=srvi.CompanyCode and srv.BranchCode=srvi.BranchCode and srv.serviceNo=srvi.ServiceNo
				where srvi.TypeOfGoods = '2'
				and srvi.companycode=@CompanyCode
				and srvi.branchCode=@BranchCode
				and year(srv.JobOrderClosed)=@PeriodYear
				and MONTH(srv.JobOrderClosed)='4'
				group by srv.CompanyCode,srv.BranchCode,year(srv.JobOrderClosed),MONTH(srv.JobOrderClosed)
				)x)
set @sgaa_5 = (select x.DPPAmt from (select 
					srv.CompanyCode,
					srv.BranchCode,
					year(srv.JobOrderClosed) PeriodYear,
					MONTH(srv.JobOrderClosed) PeriodMonth,
					sum((SupplyQty * RetailPrice) - (RetailPrice*(discPct/100))) as DPPAmt 
				from svTrnsrvItem srvi	
				inner join svtrnservice srv on srv.CompanyCode=srvi.CompanyCode and srv.BranchCode=srvi.BranchCode and srv.serviceNo=srvi.ServiceNo
				where srvi.TypeOfGoods = '2'
				and srvi.companycode=@CompanyCode
				and srvi.branchCode=@BranchCode
				and year(srv.JobOrderClosed)=@PeriodYear
				and MONTH(srv.JobOrderClosed)='5'
				group by srv.CompanyCode,srv.BranchCode,year(srv.JobOrderClosed),MONTH(srv.JobOrderClosed)
				)x)
set @sgaa_6 = (select x.DPPAmt from (select 
					srv.CompanyCode,
					srv.BranchCode,
					year(srv.JobOrderClosed) PeriodYear,
					MONTH(srv.JobOrderClosed) PeriodMonth,
					sum((SupplyQty * RetailPrice) - (RetailPrice*(discPct/100))) as DPPAmt 
				from svTrnsrvItem srvi	
				inner join svtrnservice srv on srv.CompanyCode=srvi.CompanyCode and srv.BranchCode=srvi.BranchCode and srv.serviceNo=srvi.ServiceNo
				where srvi.TypeOfGoods = '2'
				and srvi.companycode=@CompanyCode
				and srvi.branchCode=@BranchCode
				and year(srv.JobOrderClosed)=@PeriodYear
				and MONTH(srv.JobOrderClosed)='6'
				group by srv.CompanyCode,srv.BranchCode,year(srv.JobOrderClosed),MONTH(srv.JobOrderClosed)
				)x)
set @sgaa_7 = (select x.DPPAmt from (select 
					srv.CompanyCode,
					srv.BranchCode,
					year(srv.JobOrderClosed) PeriodYear,
					MONTH(srv.JobOrderClosed) PeriodMonth,
					sum((SupplyQty * RetailPrice) - (RetailPrice*(discPct/100))) as DPPAmt 
				from svTrnsrvItem srvi	
				inner join svtrnservice srv on srv.CompanyCode=srvi.CompanyCode and srv.BranchCode=srvi.BranchCode and srv.serviceNo=srvi.ServiceNo
				where srvi.TypeOfGoods = '2'
				and srvi.companycode=@CompanyCode
				and srvi.branchCode=@BranchCode
				and year(srv.JobOrderClosed)=@PeriodYear
				and MONTH(srv.JobOrderClosed)='7'
				group by srv.CompanyCode,srv.BranchCode,year(srv.JobOrderClosed),MONTH(srv.JobOrderClosed)
				)x)
set @sgaa_8 = (select x.DPPAmt from (select 
					srv.CompanyCode,
					srv.BranchCode,
					year(srv.JobOrderClosed) PeriodYear,
					MONTH(srv.JobOrderClosed) PeriodMonth,
					sum((SupplyQty * RetailPrice) - (RetailPrice*(discPct/100))) as DPPAmt 
				from svTrnsrvItem srvi	
				inner join svtrnservice srv on srv.CompanyCode=srvi.CompanyCode and srv.BranchCode=srvi.BranchCode and srv.serviceNo=srvi.ServiceNo
				where srvi.TypeOfGoods = '2'
				and srvi.companycode=@CompanyCode
				and srvi.branchCode=@BranchCode
				and year(srv.JobOrderClosed)=@PeriodYear
				and MONTH(srv.JobOrderClosed)='8'
				group by srv.CompanyCode,srv.BranchCode,year(srv.JobOrderClosed),MONTH(srv.JobOrderClosed)
				)x)
set @sgaa_9 = (select x.DPPAmt from (select 
					srv.CompanyCode,
					srv.BranchCode,
					year(srv.JobOrderClosed) PeriodYear,
					MONTH(srv.JobOrderClosed) PeriodMonth,
					sum((SupplyQty * RetailPrice) - (RetailPrice*(discPct/100))) as DPPAmt 
				from svTrnsrvItem srvi	
				inner join svtrnservice srv on srv.CompanyCode=srvi.CompanyCode and srv.BranchCode=srvi.BranchCode and srv.serviceNo=srvi.ServiceNo
				where srvi.TypeOfGoods = '2'
				and srvi.companycode=@CompanyCode
				and srvi.branchCode=@BranchCode
				and year(srv.JobOrderClosed)=@PeriodYear
				and MONTH(srv.JobOrderClosed)='9'
				group by srv.CompanyCode,srv.BranchCode,year(srv.JobOrderClosed),MONTH(srv.JobOrderClosed)
				)x)
set @sgaa_10 = (select x.DPPAmt from (select 
					srv.CompanyCode,
					srv.BranchCode,
					year(srv.JobOrderClosed) PeriodYear,
					MONTH(srv.JobOrderClosed) PeriodMonth,
					sum((SupplyQty * RetailPrice) - (RetailPrice*(discPct/100))) as DPPAmt 
				from svTrnsrvItem srvi	
				inner join svtrnservice srv on srv.CompanyCode=srvi.CompanyCode and srv.BranchCode=srvi.BranchCode and srv.serviceNo=srvi.ServiceNo
				where srvi.TypeOfGoods = '2'
				and srvi.companycode=@CompanyCode
				and srvi.branchCode=@BranchCode
				and year(srv.JobOrderClosed)=@PeriodYear
				and MONTH(srv.JobOrderClosed)='10'
				group by srv.CompanyCode,srv.BranchCode,year(srv.JobOrderClosed),MONTH(srv.JobOrderClosed)
				)x)
set @sgaa_11 = (select x.DPPAmt from (select 
					srv.CompanyCode,
					srv.BranchCode,
					year(srv.JobOrderClosed) PeriodYear,
					MONTH(srv.JobOrderClosed) PeriodMonth,
					sum((SupplyQty * RetailPrice) - (RetailPrice*(discPct/100))) as DPPAmt 
				from svTrnsrvItem srvi	
				inner join svtrnservice srv on srv.CompanyCode=srvi.CompanyCode and srv.BranchCode=srvi.BranchCode and srv.serviceNo=srvi.ServiceNo
				where srvi.TypeOfGoods = '2'
				and srvi.companycode=@CompanyCode
				and srvi.branchCode=@BranchCode
				and year(srv.JobOrderClosed)=@PeriodYear
				and MONTH(srv.JobOrderClosed)='11'
				group by srv.CompanyCode,srv.BranchCode,year(srv.JobOrderClosed),MONTH(srv.JobOrderClosed)
				)x)
set @sgaa_12 = (select x.DPPAmt from (select 
					srv.CompanyCode,
					srv.BranchCode,
					year(srv.JobOrderClosed) PeriodYear,
					MONTH(srv.JobOrderClosed) PeriodMonth,
					sum((SupplyQty * RetailPrice) - (RetailPrice*(discPct/100))) as DPPAmt 
				from svTrnsrvItem srvi	
				inner join svtrnservice srv on srv.CompanyCode=srvi.CompanyCode and srv.BranchCode=srvi.BranchCode and srv.serviceNo=srvi.ServiceNo
				where srvi.TypeOfGoods = '2'
				and srvi.companycode=@CompanyCode
				and srvi.branchCode=@BranchCode
				and year(srv.JobOrderClosed)=@PeriodYear
				and MONTH(srv.JobOrderClosed)='12'
				group by srv.CompanyCode,srv.BranchCode,year(srv.JobOrderClosed),MONTH(srv.JobOrderClosed)
				)x)

set @sgam_1=(select x.DPPAmt from (select 
					srv.CompanyCode,
					srv.BranchCode,
					year(srv.JobOrderClosed) PeriodYear,
					MONTH(srv.JobOrderClosed) PeriodMonth,
					sum((SupplyQty * RetailPrice) - (RetailPrice*(discPct/100))) as DPPAmt 
				from svTrnsrvItem srvi	
				inner join svtrnservice srv on srv.CompanyCode=srvi.CompanyCode and srv.BranchCode=srvi.BranchCode and srv.serviceNo=srvi.ServiceNo
				where srvi.TypeOfGoods in ('5','6')
				and srvi.companycode=@CompanyCode
				and srvi.branchCode=@BranchCode
				and year(srv.JobOrderClosed)=@PeriodYear
				and MONTH(srv.JobOrderClosed)='1'
				group by srv.CompanyCode,srv.BranchCode,year(srv.JobOrderClosed),MONTH(srv.JobOrderClosed)
				)x)
set @sgam_2=(select x.DPPAmt from (select 
					srv.CompanyCode,
					srv.BranchCode,
					year(srv.JobOrderClosed) PeriodYear,
					MONTH(srv.JobOrderClosed) PeriodMonth,
					sum((SupplyQty * RetailPrice) - (RetailPrice*(discPct/100))) as DPPAmt 
				from svTrnsrvItem srvi	
				inner join svtrnservice srv on srv.CompanyCode=srvi.CompanyCode and srv.BranchCode=srvi.BranchCode and srv.serviceNo=srvi.ServiceNo
				where srvi.TypeOfGoods in ('5','6')
				and srvi.companycode=@CompanyCode
				and srvi.branchCode=@BranchCode
				and year(srv.JobOrderClosed)=@PeriodYear
				and MONTH(srv.JobOrderClosed)='2'
				group by srv.CompanyCode,srv.BranchCode,year(srv.JobOrderClosed),MONTH(srv.JobOrderClosed)
				)x)
set @sgam_3=(select x.DPPAmt from (select 
					srv.CompanyCode,
					srv.BranchCode,
					year(srv.JobOrderClosed) PeriodYear,
					MONTH(srv.JobOrderClosed) PeriodMonth,
					sum((SupplyQty * RetailPrice) - (RetailPrice*(discPct/100))) as DPPAmt 
				from svTrnsrvItem srvi	
				inner join svtrnservice srv on srv.CompanyCode=srvi.CompanyCode and srv.BranchCode=srvi.BranchCode and srv.serviceNo=srvi.ServiceNo
				where srvi.TypeOfGoods in ('5','6')
				and srvi.companycode=@CompanyCode
				and srvi.branchCode=@BranchCode
				and year(srv.JobOrderClosed)=@PeriodYear
				and MONTH(srv.JobOrderClosed)='3'
				group by srv.CompanyCode,srv.BranchCode,year(srv.JobOrderClosed),MONTH(srv.JobOrderClosed)
				)x)
set @sgam_4=(select x.DPPAmt from (select 
					srv.CompanyCode,
					srv.BranchCode,
					year(srv.JobOrderClosed) PeriodYear,
					MONTH(srv.JobOrderClosed) PeriodMonth,
					sum((SupplyQty * RetailPrice) - (RetailPrice*(discPct/100))) as DPPAmt 
				from svTrnsrvItem srvi	
				inner join svtrnservice srv on srv.CompanyCode=srvi.CompanyCode and srv.BranchCode=srvi.BranchCode and srv.serviceNo=srvi.ServiceNo
				where srvi.TypeOfGoods in ('5','6')
				and srvi.companycode=@CompanyCode
				and srvi.branchCode=@BranchCode
				and year(srv.JobOrderClosed)=@PeriodYear
				and MONTH(srv.JobOrderClosed)='4'
				group by srv.CompanyCode,srv.BranchCode,year(srv.JobOrderClosed),MONTH(srv.JobOrderClosed)
				)x)
set @sgam_5=(select x.DPPAmt from (select 
					srv.CompanyCode,
					srv.BranchCode,
					year(srv.JobOrderClosed) PeriodYear,
					MONTH(srv.JobOrderClosed) PeriodMonth,
					sum((SupplyQty * RetailPrice) - (RetailPrice*(discPct/100))) as DPPAmt 
				from svTrnsrvItem srvi	
				inner join svtrnservice srv on srv.CompanyCode=srvi.CompanyCode and srv.BranchCode=srvi.BranchCode and srv.serviceNo=srvi.ServiceNo
				where srvi.TypeOfGoods in ('5','6')
				and srvi.companycode=@CompanyCode
				and srvi.branchCode=@BranchCode
				and year(srv.JobOrderClosed)=@PeriodYear
				and MONTH(srv.JobOrderClosed)='5'
				group by srv.CompanyCode,srv.BranchCode,year(srv.JobOrderClosed),MONTH(srv.JobOrderClosed)
				)x)
set @sgam_6=(select x.DPPAmt from (select 
					srv.CompanyCode,
					srv.BranchCode,
					year(srv.JobOrderClosed) PeriodYear,
					MONTH(srv.JobOrderClosed) PeriodMonth,
					sum((SupplyQty * RetailPrice) - (RetailPrice*(discPct/100))) as DPPAmt 
				from svTrnsrvItem srvi	
				inner join svtrnservice srv on srv.CompanyCode=srvi.CompanyCode and srv.BranchCode=srvi.BranchCode and srv.serviceNo=srvi.ServiceNo
				where srvi.TypeOfGoods in ('5','6')
				and srvi.companycode=@CompanyCode
				and srvi.branchCode=@BranchCode
				and year(srv.JobOrderClosed)=@PeriodYear
				and MONTH(srv.JobOrderClosed)='6'
				group by srv.CompanyCode,srv.BranchCode,year(srv.JobOrderClosed),MONTH(srv.JobOrderClosed)
				)x)
set @sgam_7=(select x.DPPAmt from (select 
					srv.CompanyCode,
					srv.BranchCode,
					year(srv.JobOrderClosed) PeriodYear,
					MONTH(srv.JobOrderClosed) PeriodMonth,
					sum((SupplyQty * RetailPrice) - (RetailPrice*(discPct/100))) as DPPAmt 
				from svTrnsrvItem srvi	
				inner join svtrnservice srv on srv.CompanyCode=srvi.CompanyCode and srv.BranchCode=srvi.BranchCode and srv.serviceNo=srvi.ServiceNo
				where srvi.TypeOfGoods in ('5','6')
				and srvi.companycode=@CompanyCode
				and srvi.branchCode=@BranchCode
				and year(srv.JobOrderClosed)=@PeriodYear
				and MONTH(srv.JobOrderClosed)='7'
				group by srv.CompanyCode,srv.BranchCode,year(srv.JobOrderClosed),MONTH(srv.JobOrderClosed)
				)x)
set @sgam_8=(select x.DPPAmt from (select 
					srv.CompanyCode,
					srv.BranchCode,
					year(srv.JobOrderClosed) PeriodYear,
					MONTH(srv.JobOrderClosed) PeriodMonth,
					sum((SupplyQty * RetailPrice) - (RetailPrice*(discPct/100))) as DPPAmt 
				from svTrnsrvItem srvi	
				inner join svtrnservice srv on srv.CompanyCode=srvi.CompanyCode and srv.BranchCode=srvi.BranchCode and srv.serviceNo=srvi.ServiceNo
				where srvi.TypeOfGoods in ('5','6')
				and srvi.companycode=@CompanyCode
				and srvi.branchCode=@BranchCode
				and year(srv.JobOrderClosed)=@PeriodYear
				and MONTH(srv.JobOrderClosed)='8'
				group by srv.CompanyCode,srv.BranchCode,year(srv.JobOrderClosed),MONTH(srv.JobOrderClosed)
				)x)
set @sgam_9=(select x.DPPAmt from (select 
					srv.CompanyCode,
					srv.BranchCode,
					year(srv.JobOrderClosed) PeriodYear,
					MONTH(srv.JobOrderClosed) PeriodMonth,
					sum((SupplyQty * RetailPrice) - (RetailPrice*(discPct/100))) as DPPAmt 
				from svTrnsrvItem srvi	
				inner join svtrnservice srv on srv.CompanyCode=srvi.CompanyCode and srv.BranchCode=srvi.BranchCode and srv.serviceNo=srvi.ServiceNo
				where srvi.TypeOfGoods in ('5','6')
				and srvi.companycode=@CompanyCode
				and srvi.branchCode=@BranchCode
				and year(srv.JobOrderClosed)=@PeriodYear
				and MONTH(srv.JobOrderClosed)='9'
				group by srv.CompanyCode,srv.BranchCode,year(srv.JobOrderClosed),MONTH(srv.JobOrderClosed)
				)x)
set @sgam_10=(select x.DPPAmt from (select 
					srv.CompanyCode,
					srv.BranchCode,
					year(srv.JobOrderClosed) PeriodYear,
					MONTH(srv.JobOrderClosed) PeriodMonth,
					sum((SupplyQty * RetailPrice) - (RetailPrice*(discPct/100))) as DPPAmt 
				from svTrnsrvItem srvi	
				inner join svtrnservice srv on srv.CompanyCode=srvi.CompanyCode and srv.BranchCode=srvi.BranchCode and srv.serviceNo=srvi.ServiceNo
				where srvi.TypeOfGoods in ('5','6')
				and srvi.companycode=@CompanyCode
				and srvi.branchCode=@BranchCode
				and year(srv.JobOrderClosed)=@PeriodYear
				and MONTH(srv.JobOrderClosed)='10'
				group by srv.CompanyCode,srv.BranchCode,year(srv.JobOrderClosed),MONTH(srv.JobOrderClosed)
				)x)
set @sgam_11=(select x.DPPAmt from (select 
					srv.CompanyCode,
					srv.BranchCode,
					year(srv.JobOrderClosed) PeriodYear,
					MONTH(srv.JobOrderClosed) PeriodMonth,
					sum((SupplyQty * RetailPrice) - (RetailPrice*(discPct/100))) as DPPAmt 
				from svTrnsrvItem srvi	
				inner join svtrnservice srv on srv.CompanyCode=srvi.CompanyCode and srv.BranchCode=srvi.BranchCode and srv.serviceNo=srvi.ServiceNo
				where srvi.TypeOfGoods in ('5','6')
				and srvi.companycode=@CompanyCode
				and srvi.branchCode=@BranchCode
				and year(srv.JobOrderClosed)=@PeriodYear
				and MONTH(srv.JobOrderClosed)='11'
				group by srv.CompanyCode,srv.BranchCode,year(srv.JobOrderClosed),MONTH(srv.JobOrderClosed)
				)x)
set @sgam_12=(select x.DPPAmt from (select 
					srv.CompanyCode,
					srv.BranchCode,
					year(srv.JobOrderClosed) PeriodYear,
					MONTH(srv.JobOrderClosed) PeriodMonth,
					sum((SupplyQty * RetailPrice) - (RetailPrice*(discPct/100))) as DPPAmt 
				from svTrnsrvItem srvi	
				inner join svtrnservice srv on srv.CompanyCode=srvi.CompanyCode and srv.BranchCode=srvi.BranchCode and srv.serviceNo=srvi.ServiceNo
				where srvi.TypeOfGoods in ('5','6')
				and srvi.companycode=@CompanyCode
				and srvi.branchCode=@BranchCode
				and year(srv.JobOrderClosed)=@PeriodYear
				and MONTH(srv.JobOrderClosed)='12'
				group by srv.CompanyCode,srv.BranchCode,year(srv.JobOrderClosed),MONTH(srv.JobOrderClosed)
				)x)

set @sgai_1=(select x.sgaInst from (select 
				srv.CompanyCode,
				srv.BranchCode,
				year(srv.JobOrderClosed) PeriodYear,
				MONTH(srv.JobOrderClosed) PeriodMonth,
				count(srvi.serviceNo) sgaInst
			from svTrnsrvItem srvi	
			inner join svtrnservice srv on srv.CompanyCode=srvi.CompanyCode 
				and srv.BranchCode=srvi.BranchCode 
				and srv.serviceNo=srvi.ServiceNo
			where srvi.TypeOfGoods = '2'
			and srvi.companycode=@CompanyCode
			and srvi.branchCode=@BranchCode
			and year(srv.JobOrderClosed)=@PeriodYear
			and MONTH(srv.JobOrderClosed)='1'
			group by srv.CompanyCode,srv.BranchCode,year(srv.JobOrderClosed),MONTH(srv.JobOrderClosed)
			)x)
set @sgai_2=(select x.sgaInst from (select 
				srv.CompanyCode,
				srv.BranchCode,
				year(srv.JobOrderClosed) PeriodYear,
				MONTH(srv.JobOrderClosed) PeriodMonth,
				count(srvi.serviceNo) sgaInst
			from svTrnsrvItem srvi	
			inner join svtrnservice srv on srv.CompanyCode=srvi.CompanyCode 
				and srv.BranchCode=srvi.BranchCode 
				and srv.serviceNo=srvi.ServiceNo
			where srvi.TypeOfGoods = '2'
			and srvi.companycode=@CompanyCode
			and srvi.branchCode=@BranchCode
			and year(srv.JobOrderClosed)=@PeriodYear
			and MONTH(srv.JobOrderClosed)='2'
			group by srv.CompanyCode,srv.BranchCode,year(srv.JobOrderClosed),MONTH(srv.JobOrderClosed)
			)x)
set @sgai_3=(select x.sgaInst from (select 
				srv.CompanyCode,
				srv.BranchCode,
				year(srv.JobOrderClosed) PeriodYear,
				MONTH(srv.JobOrderClosed) PeriodMonth,
				count(srvi.serviceNo) sgaInst
			from svTrnsrvItem srvi	
			inner join svtrnservice srv on srv.CompanyCode=srvi.CompanyCode 
				and srv.BranchCode=srvi.BranchCode 
				and srv.serviceNo=srvi.ServiceNo
			where srvi.TypeOfGoods = '2'
			and srvi.companycode=@CompanyCode
			and srvi.branchCode=@BranchCode
			and year(srv.JobOrderClosed)=@PeriodYear
			and MONTH(srv.JobOrderClosed)='3'
			group by srv.CompanyCode,srv.BranchCode,year(srv.JobOrderClosed),MONTH(srv.JobOrderClosed)
			)x)
set @sgai_4=(select x.sgaInst from (select 
				srv.CompanyCode,
				srv.BranchCode,
				year(srv.JobOrderClosed) PeriodYear,
				MONTH(srv.JobOrderClosed) PeriodMonth,
				count(srvi.serviceNo) sgaInst
			from svTrnsrvItem srvi	
			inner join svtrnservice srv on srv.CompanyCode=srvi.CompanyCode 
				and srv.BranchCode=srvi.BranchCode 
				and srv.serviceNo=srvi.ServiceNo
			where srvi.TypeOfGoods = '2'
			and srvi.companycode=@CompanyCode
			and srvi.branchCode=@BranchCode
			and year(srv.JobOrderClosed)=@PeriodYear
			and MONTH(srv.JobOrderClosed)='4'
			group by srv.CompanyCode,srv.BranchCode,year(srv.JobOrderClosed),MONTH(srv.JobOrderClosed)
			)x)
set @sgai_5=(select x.sgaInst from (select 
				srv.CompanyCode,
				srv.BranchCode,
				year(srv.JobOrderClosed) PeriodYear,
				MONTH(srv.JobOrderClosed) PeriodMonth,
				count(srvi.serviceNo) sgaInst
			from svTrnsrvItem srvi	
			inner join svtrnservice srv on srv.CompanyCode=srvi.CompanyCode 
				and srv.BranchCode=srvi.BranchCode 
				and srv.serviceNo=srvi.ServiceNo
			where srvi.TypeOfGoods = '2'
			and srvi.companycode=@CompanyCode
			and srvi.branchCode=@BranchCode
			and year(srv.JobOrderClosed)=@PeriodYear
			and MONTH(srv.JobOrderClosed)='5'
			group by srv.CompanyCode,srv.BranchCode,year(srv.JobOrderClosed),MONTH(srv.JobOrderClosed)
			)x)
set @sgai_6=(select x.sgaInst from (select 
				srv.CompanyCode,
				srv.BranchCode,
				year(srv.JobOrderClosed) PeriodYear,
				MONTH(srv.JobOrderClosed) PeriodMonth,
				count(srvi.serviceNo) sgaInst
			from svTrnsrvItem srvi	
			inner join svtrnservice srv on srv.CompanyCode=srvi.CompanyCode 
				and srv.BranchCode=srvi.BranchCode 
				and srv.serviceNo=srvi.ServiceNo
			where srvi.TypeOfGoods = '2'
			and srvi.companycode=@CompanyCode
			and srvi.branchCode=@BranchCode
			and year(srv.JobOrderClosed)=@PeriodYear
			and MONTH(srv.JobOrderClosed)='6'
			group by srv.CompanyCode,srv.BranchCode,year(srv.JobOrderClosed),MONTH(srv.JobOrderClosed)
			)x)
set @sgai_7=(select x.sgaInst from (select 
				srv.CompanyCode,
				srv.BranchCode,
				year(srv.JobOrderClosed) PeriodYear,
				MONTH(srv.JobOrderClosed) PeriodMonth,
				count(srvi.serviceNo) sgaInst
			from svTrnsrvItem srvi	
			inner join svtrnservice srv on srv.CompanyCode=srvi.CompanyCode 
				and srv.BranchCode=srvi.BranchCode 
				and srv.serviceNo=srvi.ServiceNo
			where srvi.TypeOfGoods = '2'
			and srvi.companycode=@CompanyCode
			and srvi.branchCode=@BranchCode
			and year(srv.JobOrderClosed)=@PeriodYear
			and MONTH(srv.JobOrderClosed)='7'
			group by srv.CompanyCode,srv.BranchCode,year(srv.JobOrderClosed),MONTH(srv.JobOrderClosed)
			)x)
set @sgai_8=(select x.sgaInst from (select 
				srv.CompanyCode,
				srv.BranchCode,
				year(srv.JobOrderClosed) PeriodYear,
				MONTH(srv.JobOrderClosed) PeriodMonth,
				count(srvi.serviceNo) sgaInst
			from svTrnsrvItem srvi	
			inner join svtrnservice srv on srv.CompanyCode=srvi.CompanyCode 
				and srv.BranchCode=srvi.BranchCode 
				and srv.serviceNo=srvi.ServiceNo
			where srvi.TypeOfGoods = '2'
			and srvi.companycode=@CompanyCode
			and srvi.branchCode=@BranchCode
			and year(srv.JobOrderClosed)=@PeriodYear
			and MONTH(srv.JobOrderClosed)='8'
			group by srv.CompanyCode,srv.BranchCode,year(srv.JobOrderClosed),MONTH(srv.JobOrderClosed)
			)x)
set @sgai_9=(select x.sgaInst from (select 
				srv.CompanyCode,
				srv.BranchCode,
				year(srv.JobOrderClosed) PeriodYear,
				MONTH(srv.JobOrderClosed) PeriodMonth,
				count(srvi.serviceNo) sgaInst
			from svTrnsrvItem srvi	
			inner join svtrnservice srv on srv.CompanyCode=srvi.CompanyCode 
				and srv.BranchCode=srvi.BranchCode 
				and srv.serviceNo=srvi.ServiceNo
			where srvi.TypeOfGoods = '2'
			and srvi.companycode=@CompanyCode
			and srvi.branchCode=@BranchCode
			and year(srv.JobOrderClosed)=@PeriodYear
			and MONTH(srv.JobOrderClosed)='9'
			group by srv.CompanyCode,srv.BranchCode,year(srv.JobOrderClosed),MONTH(srv.JobOrderClosed)
			)x)
set @sgai_10=(select x.sgaInst from (select 
				srv.CompanyCode,
				srv.BranchCode,
				year(srv.JobOrderClosed) PeriodYear,
				MONTH(srv.JobOrderClosed) PeriodMonth,
				count(srvi.serviceNo) sgaInst
			from svTrnsrvItem srvi	
			inner join svtrnservice srv on srv.CompanyCode=srvi.CompanyCode 
				and srv.BranchCode=srvi.BranchCode 
				and srv.serviceNo=srvi.ServiceNo
			where srvi.TypeOfGoods = '2'
			and srvi.companycode=@CompanyCode
			and srvi.branchCode=@BranchCode
			and year(srv.JobOrderClosed)=@PeriodYear
			and MONTH(srv.JobOrderClosed)='10'
			group by srv.CompanyCode,srv.BranchCode,year(srv.JobOrderClosed),MONTH(srv.JobOrderClosed)
			)x)
set @sgai_11=(select x.sgaInst from (select 
				srv.CompanyCode,
				srv.BranchCode,
				year(srv.JobOrderClosed) PeriodYear,
				MONTH(srv.JobOrderClosed) PeriodMonth,
				count(srvi.serviceNo) sgaInst
			from svTrnsrvItem srvi	
			inner join svtrnservice srv on srv.CompanyCode=srvi.CompanyCode 
				and srv.BranchCode=srvi.BranchCode 
				and srv.serviceNo=srvi.ServiceNo
			where srvi.TypeOfGoods = '2'
			and srvi.companycode=@CompanyCode
			and srvi.branchCode=@BranchCode
			and year(srv.JobOrderClosed)=@PeriodYear
			and MONTH(srv.JobOrderClosed)='11'
			group by srv.CompanyCode,srv.BranchCode,year(srv.JobOrderClosed),MONTH(srv.JobOrderClosed)
			)x)
set @sgai_12=(select x.sgaInst from (select 
				srv.CompanyCode,
				srv.BranchCode,
				year(srv.JobOrderClosed) PeriodYear,
				MONTH(srv.JobOrderClosed) PeriodMonth,
				count(srvi.serviceNo) sgaInst
			from svTrnsrvItem srvi	
			inner join svtrnservice srv on srv.CompanyCode=srvi.CompanyCode 
				and srv.BranchCode=srvi.BranchCode 
				and srv.serviceNo=srvi.ServiceNo
			where srvi.TypeOfGoods = '2'
			and srvi.companycode=@CompanyCode
			and srvi.branchCode=@BranchCode
			and year(srv.JobOrderClosed)=@PeriodYear
			and MONTH(srv.JobOrderClosed)='12'
			group by srv.CompanyCode,srv.BranchCode,year(srv.JobOrderClosed),MONTH(srv.JobOrderClosed)
			)x)

set @stl1_1 = (select x.Stall from (select 
				companycode
				,branchCode
				 ,@PeriodYear periodyear
				 ,'1' periodMonh
				 , count(stallCode) as Stall
			from svMstStall 
			where IsActive=1 
			and CompanyCode=@CompanyCode
			and branchCode=@BranchCode
			and StallCode not in ('REGULER')
			group by companycode,BranchCode) x)
set @stl1_2 = (select x.Stall from (select 
				companycode
				,branchCode
				 ,@PeriodYear periodyear
				 ,'2' periodMonh
				 , count(stallCode) as Stall
			from svMstStall 
			where IsActive=1 
			and CompanyCode=@CompanyCode
			and branchCode=@BranchCode
			and StallCode not in ('REGULER')
			group by companycode,BranchCode) x)
set @stl1_3 = (select x.Stall from (select 
				companycode
				,branchCode
				 ,@PeriodYear periodyear
				 ,'3' periodMonh
				 , count(stallCode) as Stall
			from svMstStall 
			where IsActive=1 
			and CompanyCode=@CompanyCode
			and branchCode=@BranchCode
			and StallCode not in ('REGULER')
			group by companycode,BranchCode) x)
set @stl1_4 = (select x.Stall from (select 
				companycode
				,branchCode
				 ,@PeriodYear periodyear
				 ,'4' periodMonh
				 , count(stallCode) as Stall
			from svMstStall 
			where IsActive=1 
			and CompanyCode=@CompanyCode
			and branchCode=@BranchCode
			and StallCode not in ('REGULER')
			group by companycode,BranchCode) x)
set @stl1_5 = (select x.Stall from (select 
				companycode
				,branchCode
				 ,@PeriodYear periodyear
				 ,'5' periodMonh
				 , count(stallCode) as Stall
			from svMstStall 
			where IsActive=1 
			and CompanyCode=@CompanyCode
			and branchCode=@BranchCode
			and StallCode not in ('REGULER')
			group by companycode,BranchCode) x)
set @stl1_6 = (select x.Stall from (select 
				companycode
				,branchCode
				 ,@PeriodYear periodyear
				 ,'6' periodMonh
				 , count(stallCode) as Stall
			from svMstStall 
			where IsActive=1 
			and CompanyCode=@CompanyCode
			and branchCode=@BranchCode
			and StallCode not in ('REGULER')
			group by companycode,BranchCode) x)
set @stl1_7 = (select x.Stall from (select 
				companycode
				,branchCode
				 ,@PeriodYear periodyear
				 ,'7' periodMonh
				 , count(stallCode) as Stall
			from svMstStall 
			where IsActive=1 
			and CompanyCode=@CompanyCode
			and branchCode=@BranchCode
			and StallCode not in ('REGULER')
			group by companycode,BranchCode) x)
set @stl1_8 = (select x.Stall from (select 
				companycode
				,branchCode
				 ,@PeriodYear periodyear
				 ,'8' periodMonh
				 , count(stallCode) as Stall
			from svMstStall 
			where IsActive=1 
			and CompanyCode=@CompanyCode
			and branchCode=@BranchCode
			and StallCode not in ('REGULER')
			group by companycode,BranchCode) x)
set @stl1_9 = (select x.Stall from (select 
				companycode
				,branchCode
				 ,@PeriodYear periodyear
				 ,'9' periodMonh
				 , count(stallCode) as Stall
			from svMstStall 
			where IsActive=1 
			and CompanyCode=@CompanyCode
			and branchCode=@BranchCode
			and StallCode not in ('REGULER')
			group by companycode,BranchCode) x)
set @stl1_10 = (select x.Stall from (select 
				companycode
				,branchCode
				 ,@PeriodYear periodyear
				 ,'10' periodMonh
				 , count(stallCode) as Stall
			from svMstStall 
			where IsActive=1 
			and CompanyCode=@CompanyCode
			and branchCode=@BranchCode
			and StallCode not in ('REGULER')
			group by companycode,BranchCode) x)
set @stl1_11 = (select x.Stall from (select 
				companycode
				,branchCode
				 ,@PeriodYear periodyear
				 ,'11' periodMonh
				 , count(stallCode) as Stall
			from svMstStall 
			where IsActive=1 
			and CompanyCode=@CompanyCode
			and branchCode=@BranchCode
			and StallCode not in ('REGULER')
			group by companycode,BranchCode) x)
set @stl1_12 = (select x.Stall from (select 
				companycode
				,branchCode
				 ,@PeriodYear periodyear
				 ,'12' periodMonh
				 , count(stallCode) as Stall
			from svMstStall 
			where IsActive=1 
			and CompanyCode=@CompanyCode
			and branchCode=@BranchCode
			and StallCode not in ('REGULER')
			group by companycode,BranchCode) x)

set @stl2_1 = (select x.Stall from (select 
				companycode
				,branchCode
				 ,@PeriodYear periodyear
				 ,'1' periodMonh
				 , count(stallCode) as Stall
			from svMstStall 
			where IsActive=1 
			and CompanyCode=@CompanyCode
			and branchCode=@BranchCode
			and StallCode ='REGULER'
			group by companycode,BranchCode) x)
set @stl2_2 = (select x.Stall from (select 
				companycode
				,branchCode
				 ,@PeriodYear periodyear
				 ,'2' periodMonh
				 , count(stallCode) as Stall
			from svMstStall 
			where IsActive=1 
			and CompanyCode=@CompanyCode
			and branchCode=@BranchCode
			and StallCode ='REGULER'
			group by companycode,BranchCode) x)
set @stl2_3 = (select x.Stall from (select 
				companycode
				,branchCode
				 ,@PeriodYear periodyear
				 ,'3' periodMonh
				 , count(stallCode) as Stall
			from svMstStall 
			where IsActive=1 
			and CompanyCode=@CompanyCode
			and branchCode=@BranchCode
			and StallCode ='REGULER'
			group by companycode,BranchCode) x)
set @stl2_4 = (select x.Stall from (select 
				companycode
				,branchCode
				 ,@PeriodYear periodyear
				 ,'4' periodMonh
				 , count(stallCode) as Stall
			from svMstStall 
			where IsActive=1 
			and CompanyCode=@CompanyCode
			and branchCode=@BranchCode
			and StallCode ='REGULER'
			group by companycode,BranchCode) x)
set @stl2_5 = (select x.Stall from (select 
				companycode
				,branchCode
				 ,@PeriodYear periodyear
				 ,'5' periodMonh
				 , count(stallCode) as Stall
			from svMstStall 
			where IsActive=1 
			and CompanyCode=@CompanyCode
			and branchCode=@BranchCode
			and StallCode ='REGULER'
			group by companycode,BranchCode) x)
set @stl2_6 = (select x.Stall from (select 
				companycode
				,branchCode
				 ,@PeriodYear periodyear
				 ,'6' periodMonh
				 , count(stallCode) as Stall
			from svMstStall 
			where IsActive=1 
			and CompanyCode=@CompanyCode
			and branchCode=@BranchCode
			and StallCode ='REGULER'
			group by companycode,BranchCode) x)
set @stl2_7 = (select x.Stall from (select 
				companycode
				,branchCode
				 ,@PeriodYear periodyear
				 ,'7' periodMonh
				 , count(stallCode) as Stall
			from svMstStall 
			where IsActive=1 
			and CompanyCode=@CompanyCode
			and branchCode=@BranchCode
			and StallCode ='REGULER'
			group by companycode,BranchCode) x)
set @stl2_8 = (select x.Stall from (select 
				companycode
				,branchCode
				 ,@PeriodYear periodyear
				 ,'8' periodMonh
				 , count(stallCode) as Stall
			from svMstStall 
			where IsActive=1 
			and CompanyCode=@CompanyCode
			and branchCode=@BranchCode
			and StallCode ='REGULER'
			group by companycode,BranchCode) x)
set @stl2_9 = (select x.Stall from (select 
				companycode
				,branchCode
				 ,@PeriodYear periodyear
				 ,'9' periodMonh
				 , count(stallCode) as Stall
			from svMstStall 
			where IsActive=1 
			and CompanyCode=@CompanyCode
			and branchCode=@BranchCode
			and StallCode ='REGULER'
			group by companycode,BranchCode) x)
set @stl2_10 = (select x.Stall from (select 
				companycode
				,branchCode
				 ,@PeriodYear periodyear
				 ,'10' periodMonh
				 , count(stallCode) as Stall
			from svMstStall 
			where IsActive=1 
			and CompanyCode=@CompanyCode
			and branchCode=@BranchCode
			and StallCode ='REGULER'
			group by companycode,BranchCode) x)
set @stl2_11 = (select x.Stall from (select 
				companycode
				,branchCode
				 ,@PeriodYear periodyear
				 ,'11' periodMonh
				 , count(stallCode) as Stall
			from svMstStall 
			where IsActive=1 
			and CompanyCode=@CompanyCode
			and branchCode=@BranchCode
			and StallCode ='REGULER'
			group by companycode,BranchCode) x)
set @stl2_12 = (select x.Stall from (select 
				companycode
				,branchCode
				 ,@PeriodYear periodyear
				 ,'12' periodMonh
				 , count(stallCode) as Stall
			from svMstStall 
			where IsActive=1 
			and CompanyCode=@CompanyCode
			and branchCode=@BranchCode
			and StallCode ='REGULER'
			group by companycode,BranchCode) x)
	
;with svHstSzkMSIUnion(CompanyCode,BranchCode,PeriodYear,PeriodMonth,SeqNo,MsiGroup,MsiDesc,Unit,MsiData,lastUpdateDate) as
(
select
	CompanyCode,
		BranchCode,
		PeriodYear,
		PeriodMonth,
		SeqNo,
		MsiGroup,
		MsiDesc,
		Unit,
		MsiData,
		CreatedDate 
--from svHstSzkMSI
from svHstSzkMSI_SPK
where 
CompanyCode =@CompanyCode
and BranchCode=@BranchCode
and PeriodYear=@PeriodYear

union 
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	1 PeriodMonth,14 SeqNo,'A. Sales Revenue' MsiGroup,' aTotal Suzuki Genuine Accessories Sales Revenue - Chargeable to Customer CPUS (External) (15+16)' MsiDesc,
	'Rp' Unit,(isnull(@sgaa_1,0)+ISNULL(@sgam_1,0)) MsiData,null LastUpdate

union 
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	1 PeriodMonth,14 SeqNo,'A. Sales Revenue' MsiGroup,' SGA Accessories Parts Sales' MsiDesc,
	'Rp' Unit, @sgaa_1 MsiData,null LastUpdate

union 
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	1 PeriodMonth,14 SeqNo,'A. Sales Revenue' MsiGroup,' SGA Materials Sales' MsiDesc,
	'Rp' Unit,@sgam_1  MsiData,null LastUpdate

union
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	1 PeriodMonth,43 SeqNo,'C. No of Job Type' MsiGroup,'Accessories Installment (SGA)' MsiDesc,
	'job' Unit,@sgai_1 MsiData,null LastUpdate

union
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	1 PeriodMonth,57 SeqNo,'D. Workshop Service Strength' MsiGroup,' No. of Regular Stalls ( Available stalls Exclude Washing Stall and EM Stalls)' MsiDesc,
	'stall' Unit,@stl1_1 MsiData,null LastUpdate

union
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	1 PeriodMonth,57 SeqNo,'D. Workshop Service Strength' MsiGroup,'No. of Express Maintenance Stalls (Installed)' MsiDesc,
	'stall' Unit,@stl2_1 MsiData,null LastUpdate

--
union 
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	2 PeriodMonth,14 SeqNo,'A. Sales Revenue' MsiGroup,' aTotal Suzuki Genuine Accessories Sales Revenue - Chargeable to Customer CPUS (External) (15+16)' MsiDesc,
	'Rp' Unit,(isnull(@sgaa_2,0)+ISNULL(@sgam_2,0)) MsiData,null LastUpdate

union 
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	2 PeriodMonth,14 SeqNo,'A. Sales Revenue' MsiGroup,' SGA Accessories Parts Sales' MsiDesc,
	'Rp' Unit,@sgaa_2 MsiData,null LastUpdate

union 
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	2 PeriodMonth,14 SeqNo,'A. Sales Revenue' MsiGroup,' SGA Materials Sales' MsiDesc,
	'Rp' Unit,@sgam_2 MsiData,null LastUpdate

union
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	2 PeriodMonth,43 SeqNo,'C. No of Job Type' MsiGroup,'Accessories Installment (SGA)' MsiDesc,
	'job' Unit,@sgai_2 MsiData,null LastUpdate

union
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	2 PeriodMonth,57 SeqNo,'D. Workshop Service Strength' MsiGroup,' No. of Regular Stalls ( Available stalls Exclude Washing Stall and EM Stalls)' MsiDesc,
	'stall' Unit,@stl1_1 MsiData,null LastUpdate

union
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	2 PeriodMonth,57 SeqNo,'D. Workshop Service Strength' MsiGroup,'No. of Express Maintenance Stalls (Installed)' MsiDesc,
	'stall' Unit,@stl2_2 MsiData,null LastUpdate

--
union 
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	3 PeriodMonth,14 SeqNo,'A. Sales Revenue' MsiGroup,' aTotal Suzuki Genuine Accessories Sales Revenue - Chargeable to Customer CPUS (External) (15+16)' MsiDesc,
	'Rp' Unit,(isnull(@sgaa_3,0)+ISNULL(@sgam_3,0)) MsiData,null LastUpdate

union 
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	3 PeriodMonth,14 SeqNo,'A. Sales Revenue' MsiGroup,' SGA Accessories Parts Sales' MsiDesc,
	'Rp' Unit, @sgaa_3 MsiData,null LastUpdate

union 
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	3 PeriodMonth,14 SeqNo,'A. Sales Revenue' MsiGroup,' SGA Materials Sales' MsiDesc,
	'Rp' Unit, @sgam_3 MsiData,null LastUpdate

union
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	3 PeriodMonth,43 SeqNo,'C. No of Job Type' MsiGroup,'Accessories Installment (SGA)' MsiDesc,
	'job' Unit,@sgai_3 MsiData,null LastUpdate

union
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	3 PeriodMonth,57 SeqNo,'D. Workshop Service Strength' MsiGroup,' No. of Regular Stalls ( Available stalls Exclude Washing Stall and EM Stalls)' MsiDesc,
	'stall' Unit,@stl1_3 MsiData,null LastUpdate

union
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	3 PeriodMonth,57 SeqNo,'D. Workshop Service Strength' MsiGroup,'No. of Express Maintenance Stalls (Installed)' MsiDesc,
	'stall' Unit,@stl2_3 MsiData,null LastUpdate

--
union 
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	4 PeriodMonth,14 SeqNo,'A. Sales Revenue' MsiGroup,' aTotal Suzuki Genuine Accessories Sales Revenue - Chargeable to Customer CPUS (External) (15+16)' MsiDesc,
	'Rp' Unit,(isnull(@sgaa_4,0)+ISNULL(@sgam_4,0)) MsiData,null LastUpdate

union 
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	4 PeriodMonth,14 SeqNo,'A. Sales Revenue' MsiGroup,' SGA Accessories Parts Sales' MsiDesc,
	'Rp' Unit, @sgaa_4 MsiData,null LastUpdate

union 
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	4 PeriodMonth,14 SeqNo,'A. Sales Revenue' MsiGroup,' SGA Materials Sales' MsiDesc,
	'Rp' Unit,@sgam_4  MsiData,null LastUpdate

union
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	4 PeriodMonth,43 SeqNo,'C. No of Job Type' MsiGroup,'Accessories Installment (SGA)' MsiDesc,
	'job' Unit,@sgai_4 MsiData,null LastUpdate

union
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	4 PeriodMonth,57 SeqNo,'D. Workshop Service Strength' MsiGroup,' No. of Regular Stalls ( Available stalls Exclude Washing Stall and EM Stalls)' MsiDesc,
	'stall' Unit,@stl1_4 MsiData,null LastUpdate

union
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	4 PeriodMonth,57 SeqNo,'D. Workshop Service Strength' MsiGroup,'No. of Express Maintenance Stalls (Installed)' MsiDesc,
	'stall' Unit,@stl2_4 MsiData,null LastUpdate

--
union 
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	5 PeriodMonth,14 SeqNo,'A. Sales Revenue' MsiGroup,' aTotal Suzuki Genuine Accessories Sales Revenue - Chargeable to Customer CPUS (External) (15+16)' MsiDesc,
	'Rp' Unit,(isnull(@sgaa_5,0)+ISNULL(@sgam_5,0)) MsiData,null LastUpdate

union 
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	5 PeriodMonth,14 SeqNo,'A. Sales Revenue' MsiGroup,' SGA Accessories Parts Sales' MsiDesc,
	'Rp' Unit, @sgaa_5 MsiData,null LastUpdate

union 
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	5 PeriodMonth,14 SeqNo,'A. Sales Revenue' MsiGroup,' SGA Materials Sales' MsiDesc,
	'Rp' Unit, @sgam_5 MsiData,null LastUpdate

union
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	5 PeriodMonth,43 SeqNo,'C. No of Job Type' MsiGroup,'Accessories Installment (SGA)' MsiDesc,
	'job' Unit,@sgai_5 MsiData,null LastUpdate

union
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	5 PeriodMonth,57 SeqNo,'D. Workshop Service Strength' MsiGroup,' No. of Regular Stalls ( Available stalls Exclude Washing Stall and EM Stalls)' MsiDesc,
	'stall' Unit,@stl1_5 MsiData,null LastUpdate

union
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	5 PeriodMonth,57 SeqNo,'D. Workshop Service Strength' MsiGroup,'No. of Express Maintenance Stalls (Installed)' MsiDesc,
	'stall' Unit,@stl2_5 MsiData,null LastUpdate

--
union 
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	6 PeriodMonth,14 SeqNo,'A. Sales Revenue' MsiGroup,' aTotal Suzuki Genuine Accessories Sales Revenue - Chargeable to Customer CPUS (External) (15+16)' MsiDesc,
	'Rp' Unit,(isnull(@sgaa_6,0)+ISNULL(@sgam_6,0)) MsiData,null LastUpdate

union 
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	6 PeriodMonth,14 SeqNo,'A. Sales Revenue' MsiGroup,' SGA Accessories Parts Sales' MsiDesc,
	'Rp' Unit,@sgaa_6 MsiData,null LastUpdate

union 
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	6 PeriodMonth,14 SeqNo,'A. Sales Revenue' MsiGroup,' SGA Materials Sales' MsiDesc,
	'Rp' Unit,@sgam_6  MsiData,null LastUpdate

union
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	6 PeriodMonth,43 SeqNo,'C. No of Job Type' MsiGroup,'Accessories Installment (SGA)' MsiDesc,
	'job' Unit,@sgai_6 MsiData,null LastUpdate

union
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	6 PeriodMonth,57 SeqNo,'D. Workshop Service Strength' MsiGroup,' No. of Regular Stalls ( Available stalls Exclude Washing Stall and EM Stalls)' MsiDesc,
	'stall' Unit,@stl1_6 MsiData,null LastUpdate

union
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	6 PeriodMonth,57 SeqNo,'D. Workshop Service Strength' MsiGroup,'No. of Express Maintenance Stalls (Installed)' MsiDesc,
	'stall' Unit,@stl2_6 MsiData,null LastUpdate

--
union 
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	7 PeriodMonth,14 SeqNo,'A. Sales Revenue' MsiGroup,' aTotal Suzuki Genuine Accessories Sales Revenue - Chargeable to Customer CPUS (External) (15+16)' MsiDesc,
	'Rp' Unit,(isnull(@sgaa_7,0)+ISNULL(@sgam_7,0)) MsiData,null LastUpdate

union 
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	7 PeriodMonth,14 SeqNo,'A. Sales Revenue' MsiGroup,' SGA Accessories Parts Sales' MsiDesc,
	'Rp' Unit,@sgaa_7 MsiData,null LastUpdate

union 
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	7 PeriodMonth,14 SeqNo,'A. Sales Revenue' MsiGroup,' SGA Materials Sales' MsiDesc,
	'Rp' Unit,@sgam_7  MsiData,null LastUpdate

union
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	7 PeriodMonth,43 SeqNo,'C. No of Job Type' MsiGroup,'Accessories Installment (SGA)' MsiDesc,
	'job' Unit,@sgai_7 MsiData,null LastUpdate

union
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	7 PeriodMonth,57 SeqNo,'D. Workshop Service Strength' MsiGroup,' No. of Regular Stalls ( Available stalls Exclude Washing Stall and EM Stalls)' MsiDesc,
	'stall' Unit,@stl1_7 MsiData,null LastUpdate

union
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	7 PeriodMonth,57 SeqNo,'D. Workshop Service Strength' MsiGroup,'No. of Express Maintenance Stalls (Installed)' MsiDesc,
	'stall' Unit,@stl2_7 MsiData,null LastUpdate

--
union 
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	8 PeriodMonth,14 SeqNo,'A. Sales Revenue' MsiGroup,' aTotal Suzuki Genuine Accessories Sales Revenue - Chargeable to Customer CPUS (External) (15+16)' MsiDesc,
	'Rp' Unit,(isnull(@sgaa_8,0)+ISNULL(@sgam_8,0)) MsiData,null LastUpdate

union 
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	8 PeriodMonth,14 SeqNo,'A. Sales Revenue' MsiGroup,' SGA Accessories Parts Sales' MsiDesc,
	'Rp' Unit,@sgaa_8 MsiData,null LastUpdate

union 
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	8 PeriodMonth,14 SeqNo,'A. Sales Revenue' MsiGroup,' SGA Materials Sales' MsiDesc,
	'Rp' Unit,@sgam_8  MsiData,null LastUpdate

union
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	8 PeriodMonth,43 SeqNo,'C. No of Job Type' MsiGroup,'Accessories Installment (SGA)' MsiDesc,
	'job' Unit,@sgai_8 MsiData,null LastUpdate

union
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	8 PeriodMonth,57 SeqNo,'D. Workshop Service Strength' MsiGroup,' No. of Regular Stalls ( Available stalls Exclude Washing Stall and EM Stalls)' MsiDesc,
	'stall' Unit,@stl1_8 MsiData,null LastUpdate

union
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	8 PeriodMonth,57 SeqNo,'D. Workshop Service Strength' MsiGroup,'No. of Express Maintenance Stalls (Installed)' MsiDesc,
	'stall' Unit,@stl2_8 MsiData,null LastUpdate

--
union 
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	9 PeriodMonth,14 SeqNo,'A. Sales Revenue' MsiGroup,' aTotal Suzuki Genuine Accessories Sales Revenue - Chargeable to Customer CPUS (External) (15+16)' MsiDesc,
	'Rp' Unit,(isnull(@sgaa_9,0)+ISNULL(@sgam_9,0)) MsiData,null LastUpdate

union 
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	9 PeriodMonth,14 SeqNo,'A. Sales Revenue' MsiGroup,' SGA Accessories Parts Sales' MsiDesc,
	'Rp' Unit,@sgaa_9 MsiData,null LastUpdate

union 
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	9 PeriodMonth,14 SeqNo,'A. Sales Revenue' MsiGroup,' SGA Materials Sales' MsiDesc,
	'Rp' Unit,@sgam_9  MsiData,null LastUpdate

union
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	9 PeriodMonth,43 SeqNo,'C. No of Job Type' MsiGroup,'Accessories Installment (SGA)' MsiDesc,
	'job' Unit,@sgai_9 MsiData,null LastUpdate

union
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	9 PeriodMonth,57 SeqNo,'D. Workshop Service Strength' MsiGroup,' No. of Regular Stalls ( Available stalls Exclude Washing Stall and EM Stalls)' MsiDesc,
	'stall' Unit,@stl1_9 MsiData,null LastUpdate

union
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	9 PeriodMonth,57 SeqNo,'D. Workshop Service Strength' MsiGroup,'No. of Express Maintenance Stalls (Installed)' MsiDesc,
	'stall' Unit,@stl2_9 MsiData,null LastUpdate

--
union 
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	10 PeriodMonth,14 SeqNo,'A. Sales Revenue' MsiGroup,' aTotal Suzuki Genuine Accessories Sales Revenue - Chargeable to Customer CPUS (External) (15+16)' MsiDesc,
	'Rp' Unit,(isnull(@sgaa_10,0)+ISNULL(@sgam_10,0)) MsiData,null LastUpdate

union 
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	10 PeriodMonth,14 SeqNo,'A. Sales Revenue' MsiGroup,' SGA Accessories Parts Sales' MsiDesc,
	'Rp' Unit,@sgaa_10 MsiData,null LastUpdate

union 
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	10 PeriodMonth,14 SeqNo,'A. Sales Revenue' MsiGroup,' SGA Materials Sales' MsiDesc,
	'Rp' Unit,@sgam_10 MsiData,null LastUpdate

union
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	10 PeriodMonth,43 SeqNo,'C. No of Job Type' MsiGroup,'Accessories Installment (SGA)' MsiDesc,
	'job' Unit,@sgai_10 MsiData,null LastUpdate

union
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	10 PeriodMonth,57 SeqNo,'D. Workshop Service Strength' MsiGroup,' No. of Regular Stalls ( Available stalls Exclude Washing Stall and EM Stalls)' MsiDesc,
	'stall' Unit,@stl1_10 MsiData,null LastUpdate

union
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	10 PeriodMonth,57 SeqNo,'D. Workshop Service Strength' MsiGroup,'No. of Express Maintenance Stalls (Installed)' MsiDesc,
	'stall' Unit,@stl2_10 MsiData,null LastUpdate

--
union 
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	11 PeriodMonth,14 SeqNo,'A. Sales Revenue' MsiGroup,' aTotal Suzuki Genuine Accessories Sales Revenue - Chargeable to Customer CPUS (External) (15+16)' MsiDesc,
	'Rp' Unit,(isnull(@sgaa_11,0)+ISNULL(@sgam_11,0)) MsiData,null LastUpdate

union 
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	11 PeriodMonth,14 SeqNo,'A. Sales Revenue' MsiGroup,' SGA Accessories Parts Sales' MsiDesc,
	'Rp' Unit,@sgaa_11 MsiData,null LastUpdate

union 
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	11 PeriodMonth,14 SeqNo,'A. Sales Revenue' MsiGroup,' SGA Materials Sales' MsiDesc,
	'Rp' Unit,@sgam_11 MsiData,null LastUpdate

union
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	11 PeriodMonth,43 SeqNo,'C. No of Job Type' MsiGroup,'Accessories Installment (SGA)' MsiDesc,
	'job' Unit,@sgai_11 MsiData,null LastUpdate

union
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	11 PeriodMonth,57 SeqNo,'D. Workshop Service Strength' MsiGroup,' No. of Regular Stalls ( Available stalls Exclude Washing Stall and EM Stalls)' MsiDesc,
	'stall' Unit,@stl1_11 MsiData,null LastUpdate

union
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	11 PeriodMonth,57 SeqNo,'D. Workshop Service Strength' MsiGroup,'No. of Express Maintenance Stalls (Installed)' MsiDesc,
	'stall' Unit,@stl2_11 MsiData,null LastUpdate

--
union 
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	12 PeriodMonth,14 SeqNo,'A. Sales Revenue' MsiGroup,' aTotal Suzuki Genuine Accessories Sales Revenue - Chargeable to Customer CPUS (External) (15+16)' MsiDesc,
	'Rp' Unit,(isnull(@sgaa_12,0)+ISNULL(@sgam_12,0)) MsiData,null LastUpdate

union 
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	12 PeriodMonth,14 SeqNo,'A. Sales Revenue' MsiGroup,' SGA Accessories Parts Sales' MsiDesc,
	'Rp' Unit,@sgaa_12 MsiData,null LastUpdate

union 
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	12 PeriodMonth,14 SeqNo,'A. Sales Revenue' MsiGroup,' SGA Materials Sales' MsiDesc,
	'Rp' Unit,@sgam_12 MsiData,null LastUpdate

union
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	12 PeriodMonth,43 SeqNo,'C. No of Job Type' MsiGroup,'Accessories Installment (SGA)' MsiDesc,
	'job' Unit,@sgai_12 MsiData,null LastUpdate

union
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	12 PeriodMonth,57 SeqNo,'D. Workshop Service Strength' MsiGroup,' No. of Regular Stalls ( Available stalls Exclude Washing Stall and EM Stalls)' MsiDesc,
	'stall' Unit,@stl1_12 MsiData,null LastUpdate

union
select 
	@CompanyCode CompanyCode,@BranchCode BranchCode,@PeriodYear PeriodYear,
	12 PeriodMonth,57 SeqNo,'D. Workshop Service Strength' MsiGroup,'No. of Express Maintenance Stalls (Installed)' MsiDesc,
	'stall' Unit,@stl2_12 MsiData,null LastUpdate

),
svHstSzkMSISetSeqNoNew as (
	select 	* 
		, case 
			when MsiDesc=' aTotal Suzuki Genuine Accessories Sales Revenue - Chargeable to Customer CPUS (External) (15+16)' then ' Total Suzuki Genuine Accessories Sales Revenue - Chargeable to Customer CPUS (External) (15+16)' 
			when MsiDesc='  Labour Sales - Non-chargeable (Warranty, FS1 + FS2 + FS3 + FS4 + FS5 + FS6 + FS7)' then '     Labour Sales - Non-chargeable (Warranty, FS 1K, FS 5K, FS 10K, FS 20K, FS 30K, FS 40K, & FS 50K)' 
			when MsiDesc='  Parts Sales - Non-chargeable (Warranty, FS1)' then '     Parts Sales - Non-chargeable (Warranty)' 
			when MsiDesc='  Lubricant Sales - Chargeable to customer CPUS' then '     Lubricant Sales - Chargeable to customer CPUS (External)' 
			when MsiDesc='  Lubricant Sales - Non-chargeable (Warranty, FS1)' then '     Lubricant Sales - Non-chargeable (Warranty, FS 1K - commercial car)' 
			when MsiDesc='Total Sublet Sales Revenue' then 'Total Sublet Sales Revenue - Chargebale to Customer CPUS (External)' 
			when MsiDesc='Total Service Sales Revenue (16 + 17 + 18)' then 'Total Service Sales Revenue (17 + 18 + 19)' 
			when MsiDesc='  Total Service Sales - CPUS (External) (2 + 6 + 11 + 14)' then '     Total Service Sales - Chargeable to customer CPUS (External) (2 + 6 + 11 + 14 + 17)' 
			when MsiDesc='  Total Service Sales - (Warranty, FS1) (3 +  7 + 12)' then '     Total Service Sales - Non-chargeable (Warranty) (3 +  7 + 12)' 
			when MsiDesc='  Total Service Sales - (Internal, PDI) (4 + 8 + 13) ' then '     Total Service Sales - Non-chargeable (Internal, PDI) (4 + 8 + 13)' 
			when MsiDesc='Hours Sold / Available hours (19 / 20) ' then 'Hours Sold / Available hours (20 / 21)' 
			when MsiDesc='Service Revenue per Unit exclude PDI (CPUS, Warranty, FS1) ((16 + 17) / 29)' then 'Service Revenue per Unit exclude PDI (CPUS, Warranty, FS) ((19 + 20) / 32)' 
			when MsiDesc='Labour Sales Turnover / Productive staff (Technician & Foreman)  (1 / 61)' then 'Labour  Sales Turnover / Productive staff (Technician & Foreman)  (1 / 67) ' 
			when MsiDesc='Labour Sales Turnover / Service Advisors (1 / 60)' then 'Labour Sales Turnover / Service Advisors (1 / 66) ' 
			when MsiDesc='Labour Sales Turnover / Stall (1 / 56)' then 'Labour Sales Turnover / Stall (1 / 58)' 
			when MsiDesc='No. of Work Order / vehicle Intake exclude PDI (30 + 31)' then 'No. of Unit/vehicle Intakes exclude PDI (33 + 34)' 
			when MsiDesc='  Passenger Car (exclude Angkot, Pickup, Chassis, Box)' then '     Passenger Car (exclude Angkot, Pickup, chassis)' 
			when MsiDesc='  Commercial Vehicle (Angkot, Pickup, Chassis, Box)' then '     Commercial Vehicle (Angkot, Pickup, Chassis)' 
			when MsiDesc='Customer Paid Unit Service exclude Free Service (34 + 38 + 42 + 43)' then 'Total Customer Paid Unit Service exclude Free Sevice (37 + 41 + 45 + 46 + 47)' 
			when MsiDesc='  Periodical Maintenance under Warranty Period (= 100,000 km / = 3 Years) (sum of 35 to 37)' then '     Periodical Maintenance under Warranty Period (≤ 100,000 km/≤ 3 Years) (sum of 38 to 40)' --ddd
			when MsiDesc='    10,000*; 30,000; 50,000; 70,000; & 90,000 km' then '         10,000*; 30,000*; 50,000*; 70,000; & 90,000 km' 
			when MsiDesc='  Periodical Maintenance out of Warranty Period (> 100,000 km / >3 years) (sum of 39 to 41)' then '     Periodical Maintenance out of Warranty Period (>100,000 km/>3 years) (sum of 42 to 44)' 
			when MsiDesc='  G/R Non Periodical Maintenance and Others' then '     G/R Non Periodical Maintenance and Others exclude Accessories Installment' 
			when MsiDesc='No. of Free Service (sum of 45 to 51)' then 'No. of Free Service (FS 1K, FS 5K, FS 10K, FS 20K, FS 30K, FS 40K, & FS 50K) (sum of 49 to 55)' 
			when MsiDesc='  FS  1,000 km' then '     FS 1K (1,000 km)' 
			when MsiDesc='  FS  5,000 km' then '     FS 5K (5,000 km)' 
			when MsiDesc='  FS 10,000 km' then '     FS 10K (10,000 km)' 
			when MsiDesc='  FS 20,000 km' then '     FS 20K (20,000 km)' 
			when MsiDesc='  FS 30,000 km' then '     FS 30K (30,000 km)' 
			when MsiDesc='  FS 40,000 km' then '     FS 40K (40,000 km)' 
			when MsiDesc='  FS 50,000 km' then '     FS 50K (50,000 km)' 
			when MsiDesc='Non-chargeable Repair (Warranty, Repeated Job, PDI) (Sum of 53 to 54)' then 'Non-chargeable Repair (Warranty, Repeated Job, PDI) (Sum of 57 to 59)' 
			when MsiDesc='No. of Working Stalls (Available stalls Exclude Washing Stall)' then 'No. of Available Stalls (59 + 60)' 
			when MsiDesc='Total No. of Staff (58 + 59 + 60 + 61 + 64 + 65)' then 'Total No. of Staff (64 + 65 + 66 + 67 + 70 + 71)' 
			when MsiDesc='  No. of Service Advisors' then '     No. of Service Advisors (SA)' 
			when MsiDesc='  No. of Productive Staff (62 + 63)' then '     No. of Productive Staff (68 + 69)' 
			when MsiDesc='Repair Unit per Productive staff (29 / 61)' then 'Repair Unit per Productive staff (32 / 67)' 
			when MsiDesc='Repair Unit per Technician (29 / 63)' then 'Repair Unit per Technician (32 / 69)' 
			when MsiDesc='Repair Unit per Working Stall (29 / 56) ' then 'Repair Unit per Available Stall (32 / 60)' 
			when MsiDesc='Repair Unit per Working Stall (29 / 56) ' then 'No. of Customer / Service Advisor (32 / 66)' 
			when MsiDesc='Repair Unit per Productive staff / day (66 / 70)' then 'Repair Unit per Productive staff / day (72 / 76)' 
			when MsiDesc='Repair Unit per Technician / day (67 / 70) ' then 'Repair Unit per Technician / day (73 / 76)' 
			when MsiDesc='Repair Unit per Working Stall / day (68 / 70)' then 'Repair Unit per Available Stall/day (74 / 76)' 
			when MsiDesc='No. of Customer / Service Advisor / day (69 / 70)' then 'No. of Customer / Service Advisor / day (75 / 76)' 
			when MsiDesc='No. of work order per vehicle intake from Reminder' then 'No. of work orders/vehicle intake from Reminder' 
			when MsiDesc='Service Follow-ups' then 'No. of post service follow-ups' 
			when MsiDesc='% Service Reminder unit intake to Reminder Target (76 / 75) ' then '% Service Reminder unit intake to Reminder Target (83 / 81) ' 
			when MsiDesc='% Service Follow-ups to repair unit (work order) (78 / 29) ' then '% Post Service Follow-ups to repair unit (work order) (84 / 32)' 
			when MsiDesc='% Service Bookings to repair unit (work order) (79 / 29) ' then '% Service Bookings to repair unit (work order) (85 / 32)' 
			when MsiDesc='Total instant feedback form received ratio (to work order) (84 / 29)' then 'Total instant feedback form received ratio (to work order) (90 / 32)' 
			when MsiDesc='Total Complaints Received (87 + 88)' then 'Total Complaints Received  (93 + 94)' 
			when MsiDesc='Total No. Follow up ''Satisfied''' then 'Total No. of post service follow up ''Satisfied''' 
			when MsiDesc='Total No. Follow up ''Not-Satisfied''' then 'Total No. of post service follow up ''Not-Satisfied''' 
			when MsiDesc='Follow up ''Satisfied''/Intake Ratio (89 / 29)' then 'Ratio of post service follow ups ''Satisfied'' per vehicle intake (95 / 32)' 
			when MsiDesc='Follow up '' Not Satisfied''/Intake Ratio (90 / 29)' then 'Ratio of post service follow ups ''Not Satisfied'' per vehicle intake (96 / 32)' 
			when MsiDesc='Total Complaints & Follow up ''Not Satisfied''/Intake Ratio ((86 + 90) / 29)' then 'Ratio of total complaints & post service follow ups ''Not Satisfied'' per vehicle intake ((92 + 96) / 32)' 			

			when MsiDesc='  Labour Sales - Chargeable to customer CPUS (External)' then '     Labour Sales - Chargeable to customer CPUS (External)'
			when MsiDesc='  Labour Sales - Non-chargeable (Internal, PDI)' then '     Labour Sales - Non-chargeable (Internal, PDI)'
			when MsiDesc='  Parts Sales - Chargeable to customer CPUS (External)' then '     Parts Sales - Chargeable to customer CPUS (External)'
			when MsiDesc='  Parts Sales - Non-chargeable (Internal, PDI)' then '     Parts Sales - Non-chargeable (Internal, PDI)'
			when MsiDesc='  Lubricant Sales - Non-chargeable (Internal, PDI)' then '     Lubricant Sales - Non-chargeable (Internal, PDI)'
			when MsiDesc='  PDI' then '     PDI'
			when MsiDesc='    20,000*; 60,000; & 100,000 km' then '         20,000*; 60,000; & 100,000 km'
			when MsiDesc='    40,000; & 80,000 km ' then '         40,000; & 80,000 km '
			when MsiDesc='    +10,000; +30,000; +50,000; +70,000; & +90,000 km' then '         +10,000; +30,000; +50,000; +70,000; & +90,000 km'
			when MsiDesc='    +20,000; +60,000; & +100,000 km' then '         +20,000; +60,000; & +100,000 km'
			when MsiDesc='    +40,000; & +80,000 km' then '         +40,000; & +80,000 km'
			when MsiDesc='  5,000 km multiplier & above' then '     5,000 km multiplier & above'
			when MsiDesc='  No. of Warranty Repair' then '     No. of Warranty Repair'
			when MsiDesc='  Repeat Job (Rework)' then '     Repeat Job (Rework)'
			when MsiDesc='  No. of PDI intake' then '     No. of PDI intake'
			when MsiDesc='  No. of Admin & Support Staff' then '     No. of Admin & Support Staff'
			when MsiDesc='  No. of Service Relation Officer (SRO)' then '     No. of Service Relation Officer (SRO)'
			when MsiDesc='    No. of Foreman' then '         No. of Foreman'
			when MsiDesc='    No. of Technician' then '         No. of Technician'
			when MsiDesc='  No. of PDI Staff' then '     No. of PDI Staff'
			when MsiDesc='  No. of Part Staff' then '     No. of Part Staff'
			when MsiDesc='  Direct/verbal complaints received' then '     Direct/verbal complaints received'
			when MsiDesc='  Indirect/non-verbal complaints received' then '     Indirect/non-verbal complaints received'	

			else MsiDesc end as MsiDescNew
		,ROW_NUMBER() over (partition by periodMonth order by periodMonth) as SeqNoNew
	from svHstSzkMSIUnion
),
svHstSzkMSIV2a as(
	select 
		CompanyCode,
		BranchCode,
		PeriodYear,
		PeriodMonth,
		SeqNoNew SeqNo,
		MsiGroup,
		MsiDescNew MsiDesc,
		Unit,
		MsiData,
		lastUpdateDate
	from svHstSzkMSISetSeqNoNew
	
),
svHstSzkMSIV2b as (
	select 
		CompanyCode,
		BranchCode,
		PeriodYear,
		PeriodMonth,
		SeqNo,
		MsiGroup,
		MsiDesc,
		Unit,
		MsiData,
		lastUpdateDate,
		case 
			when (SeqNo=1 and MsiDesc=' Total Suzuki Genuine Accessories Sales Revenue - Chargeable to Customer CPUS (External) (15+16)') then 'not-available'
			when (SeqNo=2 and MsiDesc=' SGA Accessories Parts Sales') then 'not-available'
			when (SeqNo=3 and MsiDesc=' SGA Materials Sales') then 'not-available'
			when (SeqNo=4 and MsiDesc='Accessories Installment (SGA)') then 'not-available'
			when (SeqNo=5 and MsiDesc=' No. of Regular Stalls ( Available stalls Exclude Washing Stall and EM Stalls)') then 'not-available'
			when (SeqNo=6 and MsiDesc='No. of Express Maintenance Stalls (Installed)') then 'not-available'
			else 'available' end as checking

	from svHstSzkMSIV2a
),

svHstSzkMSIV2 as (
	select 
		CompanyCode,
		BranchCode,
		PeriodYear,
		PeriodMonth,
		SeqNo,
		MsiGroup,
		MsiDesc,
		Unit,
		MsiData,
		lastUpdateDate 
	from svHstSzkMSIV2b
	where checking='available'
)  

select * into #svHstSzkMSIV2 from(
	SELECT * FROM svHstSzkMSIV2
	
	)#svHstSzkMSIV2

select CompanyCode, BranchCode, PeriodYear, SeqNo, MsiGroup, MsiDesc, Unit
		 , (isnull( [1], 0) + isnull( [2], 0) + isnull( [3], 0) 
		 +  isnull( [4], 0) + isnull( [5], 0) + isnull( [6], 0) 
		 +  isnull( [7], 0) + isnull( [8], 0) + isnull( [9], 0)
		 +  isnull([10], 0) + isnull([11], 0) + isnull([12], 0)) / month(getdate()) as Average
		 , (isnull( [1], 0) + isnull( [2], 0) + isnull( [3], 0) 
		 +  isnull( [4], 0) + isnull( [5], 0) + isnull( [6], 0) 
		 +  isnull( [7], 0) + isnull( [8], 0) + isnull( [9], 0)
		 +  isnull([10], 0) + isnull([11], 0) + isnull([12], 0)) as Total
		 , isnull( [1], 0) [Month01]
		 , isnull( [2], 0) [Month02]
		 , isnull( [3], 0) [Month03]
		 , isnull( [4], 0) [Month04]
		 , isnull( [5], 0) [Month05]
		 , isnull( [6], 0) [Month06]
		 , isnull( [7], 0) [Month07]
		 , isnull( [8], 0) [Month08]
		 , isnull( [9], 0) [Month09]
		 , isnull([10], 0) [Month10]
		 , isnull([11], 0) [Month11]
		 , isnull([12], 0) [Month12]
	  from (
		select CompanyCode, BranchCode, PeriodYear, PeriodMonth, SeqNo, MsiGroup, MsiDesc, Unit, MsiData
		  from #svHstSzkMSIV2
		 where CompanyCode like case when @CompanyCode = '' then '%%' else @CompanyCode end
		   and BranchCode like case when @BranchCode = '' then '%%' else @BranchCode end
		   and PeriodYear like case when @PeriodYear = '' then '%%' else @PeriodYear end
	  )#
	 pivot (sum(MsiData) for PeriodMonth in ([1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12])) as pvt
	 order by pvt.BranchCode

drop table #svHstSzkMSIV2

END







