if object_id('usprpt_SpRpTrn011') is not null
	drop PROCEDURE usprpt_SpRpTrn011
GO
create procedure [dbo].[usprpt_SpRpTrn011]
   @CompanyCode  VARCHAR (15),
   @BranchCode   VARCHAR (15),
   @FPJNoStart   VARCHAR (15),
   @FPJNoEnd     VARCHAR (15),
   @ProfitCenter VARCHAR (15),
   @CounterDiv   DECIMAL,
   @TypeOfGoods  VARCHAR (2) 
AS

declare @IsBranch as bit
set @IsBranch=(select isBranch from gnMstOrganizationDtl where CompanyCode=@CompanyCode and BranchCode=@BranchCode)

BEGIN
SELECT 
	c.FPJNo,
	c.FPJDate,
	c.InvoiceNo,
	c.PickingSlipNo, 
	c.FpjGovNo as fakturFPJGovNo,
	CASE WHEN
		ISNULL((SELECT COUNT(DISTINCT ReferenceNo) FROM spTrnSFpjDtl WHERE 
			CompanyCode = @CompanyCode 
			AND BranchCode = @BranchCode
			AND FPJNo = c.FpjNo),0) = 1 
		THEN ISNULL((SELECT DISTINCT ReferenceNo FROM spTrnSFpjDtl WHERE 
			CompanyCode = @CompanyCode 
			AND BranchCode = @BranchCode
			AND FPJNo = c.FpjNo),'')
		ELSE ''
	END OrderNo,
	c.CustomerCode, 
	c.DueDate,
	c.TotDiscAmt,
	c.TotDppAmt, 
	c.TotPPNAmt,
	c.TotFinalSalesAmt,
	x.CustomerName + ' / '+ d.CustomerName + ' [' + c.CustomerCode + ']'as CustomerName, 
	x.Address1, 
	x.Address2, 
	x.Address3, 
	x.Address4, 
	d.PhoneNo, 
	d.FaxNo,
	CASE WHEN c.ISPKP = '1' THEN d.NPWPNo ELSE '-' END NPWPNo, 
	a.DocNo,  
	a.PartNo, 
	a.PartNoOriginal,
	a.QtyBill,
	a.RetailPrice,
	a.DiscPct,
	a.DiscAmt, 
	a.RetailPrice - ((a.RetailPrice * a.DiscPct) / 100) NetRetailPrice,
	a.NetSalesAmt, 
	b.PartName,
	e.LookUpValueName  TOPC, 
	h.LookUpValueName  CITY,
	i.TaxPct, 
	RIGHT(replicate('0', 2) + convert(varchar(2), c.PrintSeq), 2) PrintSeq,
	c.PrintSeq,
	c.TypeOfGoods,
	case 
		when @IsBranch=0 then f.CompanyGovName
		else f.CompanyGovName+' ('+ substring(a.BranchCode,len(a.branchCode)-1,2)+')' 
	end CompanyName,
	f.Address1 AS AddressCo1,
	f.Address2 AS AddressCo2,
	f.Address3 AS AddressCo3,
	k.Remark,
	UPPER (j.SignName)  SignName, 
	UPPER (j.TitleSign)  TitleSign
	, (SELECT LookUpValueName FROM gnMstLookUpDtl WHERE CompanyCode = a.CompanyCode AND CodeID = 'NOTE' AND LookUpValue = 'SPFP01') Note1
	, (SELECT LookUpValueName FROM gnMstLookUpDtl WHERE CompanyCode = a.CompanyCode AND CodeID = 'NOTE' AND LookUpValue = 'SPFP02') Note2
	, CASE WHEN c.IsPKP = '0' THEN (SELECT LookUpValueName FROM gnMstLookUpDtl WHERE CompanyCode = a.CompanyCode AND CodeID = 'NOTE' AND LookUpValue = 'SPFP03') ELSE '' END Note3
FROM                         
(
   SELECT CompanyCode,
          BranchCode, 
		  FPJNo,
          PartNo,
		  DocNo,
		  PartNoOriginal,
          RetailPrice,
          DiscPct,
          SUM(DiscAmt) AS DiscAmt,
          SUM(NetSalesAmt) AS NetSalesAmt,
          SUM(QtyBill) AS QtyBill
   FROM SpTrnSFPJDtl WITH (NOLOCK, NOWAIT)
   GROUP BY CompanyCode, BranchCode,FPJNo, DocNo,PartNo,PartNoOriginal,
          RetailPrice, DiscPct
   HAVING CompanyCode = @CompanyCode
      AND BranchCode = @BranchCode
      AND FPJNo BETWEEN @FPJNoStart AND @FPJNoEnd
) a 
	INNER JOIN SpMstItemInfo b WITH (NOLOCK, NOWAIT) ON a.CompanyCode = b.CompanyCode
		AND a.PartNo = b.PartNo
    INNER JOIN SpTrnSFPJHdr c WITH (NOLOCK, NOWAIT) ON a.CompanyCode = c.CompanyCode
      AND a.BranchCode = c.BranchCode
      AND a.FPJNo = c.FPJNo
    INNER JOIN GnMstCustomer d WITH (NOLOCK, NOWAIT) ON c.CompanyCode = d.CompanyCode
       AND c.CustomerCode = d.CustomerCode
	INNER JOIN SpTrnSFPJInfo x WITH (NOLOCK, NOWAIT) ON c.CompanyCode = x.CompanyCode 
	   AND c.BranchCode = x.BranchCode
	   AND c.FPJNo = x.FPJNo
	INNER JOIN GnMstLookUpDtl e WITH (NOLOCK, NOWAIT) ON c.CompanyCode = e.CompanyCode
		AND c.TOPCode = e.LookUpValue
		AND e.CodeID = 'TOPC'
	INNER JOIN GnMstCoProfile f WITH (NOLOCK, NOWAIT) ON a.CompanyCode = f.CompanyCode
		AND a.BranchCode = f.BranchCode
	LEFT JOIN GnMstLookUpDtl h WITH (NOLOCK, NOWAIT) ON f.CompanyCode = h.CompanyCode
		AND f.CItyCode = h.LookUpValue
		AND h.CodeID = 'CITY'
	INNER JOIN GnMstTax i WITH (NOLOCK, NOWAIT) ON a.CompanyCode = i.CompanyCode 
		AND i.TaxCode = 'PPN'
	LEFT JOIN GnMstSignature j WITH (NOLOCK, NOWAIT) ON a.CompanyCode = j.CompanyCode
		AND a.BranchCode = j.BranchCode
		AND j.ProfitCenterCode = @ProfitCenter
		AND j.DocumentType = CONVERT (VARCHAR (3), 'SDH')
		AND j.SeqNo = @CounterDiv
	LEFT JOIN spTrnSPickingHdr k ON a.CompanyCode = k.CompanyCode
		AND a.BranchCode = k.BranchCode
		AND c.PickingSlipNo = k.PickingSlipNo
WHERE a.CompanyCode = @CompanyCode
	AND a.BranchCode = @BranchCode
	AND a.FPJNo BETWEEN @FPJNoStart AND @FPJNoEnd
	--AND c.TypeOfGoods = @TypeOfGoods
ORDER BY a.FPJNo, a.PartNo ASC

END
