<!DOCTYPE html>
<html>
<head>
    <title>Ruang Penerimaan</title>
    <link href="~/assets/css/vendor/kendo/kendo.common.css" rel="stylesheet" />
    <link href="~/assets/css/vendor/kendo/kendo.metro.css" rel="stylesheet" />
    <link href="~/assets/css/vendor/bootstrap/bootstrap.min.css" rel="stylesheet" />

    <script src="~/assets/js/vendors/modernizr.js"></script>
    <script src="~/assets/js/vendors/jquery-2.1.3.min.js"></script>
    <script src="~/assets/js/vendors/kendo.all.min.js"></script>
    <script src="~/assets/js/vendors/bootstrap/bootstrap.min.js"></script>

</head>

<body style="background-color:black">
    <script>
        var Serving = [
            { RegNo: "B1234ABC", QueueNo: "B-001", Counter: "COUNTER 1" },
            { RegNo: "B1234DEF", QueueNo: "N-001", Counter: "COUNTER 2" },
            { RegNo: "B1234GHI", QueueNo: "D-001", Counter: "COUNTER 3" },
        ];
        var Waiting = [
            { RegNo: "B1234ABC", QueueNo: "B-001", Estimation: "1 mins" },
            { RegNo: "B1234DEF", QueueNo: "N-001", Estimation: "5 mins" },
            { RegNo: "B1234GHI", QueueNo: "D-001", Estimation: "30 mins" },
        ];
    </script>
    <div class="container">
        <div style="text-align:center">
            <h1 style="background-color:rebeccapurple; font-weight:700; color:white" ;>WELCOME</h1><!-- /.container -->
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 style="text-align:center; background-color:darkgrey; color:white; font-weight:700">NOW SERVING</h1>
                <div id="gridserving">
                    <script>
                        $(document).ready(function () {
                            $("#gridserving").kendoGrid({
                                dataSource: {
                                    data: Serving,
                                },
                                height: 200,
                                groupable: false,
                                sortable: false,
                                pageable: false,
                                scrollable: false,
                                columns: [
                                    { field: "RegNo", title: "Reg. No" },
                                    { field: "QueueNo", title: "Que. No" },
                                    { field: "Counter", title: "Counter" }
                                ]
                            })
                        });
                    </script>
                    <style type="text/css">
                        .k-header {
                            font-weight: bold !important;
                            text-align: center !important;
                            font-size: larger !important;
                            background-color: cadetblue !important;
                            color: black;
                        }
                    </style>
                </div>
                <h1 style="text-align:center; background-color:saddlebrown; color:white; font-weight:700">WAITING LIST</h1>
                <div id="gridwaiting">
                    <script>
                        $(document).ready(function () {
                            $("#gridwaiting").kendoGrid({
                                dataSource: {
                                    data: Waiting,
                                },
                                height: 200,
                                groupable: false,
                                sortable: false,
                                pageable: false,
                                scrollable: false,
                                columns: [
                                    { field: "RegNo", title: "Reg. No" },
                                    { field: "QueueNo", title: "Que. No" },
                                    { field: "Estimation", title: "Est. Time" }
                                ]
                            })
                        });
                    </script>
                    <style type="text/css">
                        #gridwaiting .k-header {
                            font-weight: bold !important;
                            text-align: center !important;
                            font-size: larger !important;
                            background-color: forestgreen !important;
                            color: white;
                        }

                        .k-grid {
                            font-size: 20px;
                            text-align: center;
                            font-weight: bold;
                            color: blue;
                        }
                    </style>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row"><br /></div>
                <div class="col-md-12" style="background-color:white; height:417px; border:inset">
                    <iframe class="col-md-12" style="height:415px" src="https://www.youtube.com/watch?v=ZBoX_Fv89nQ?autoplay=1"></iframe> 
                </div>
                <div class="col-md-6" style="background-color:white; border-color:orange; border:inset; text-align:center; font-weight:bold; font-size:55px;height:100px">
                    <label for="QueueNo">B-001</label>
                </div>
                <div class="col-md-6" style="background-color:white;border-color:orange;border:inset; text-align:center;height:100px">
                    <label for="process" style="font-size:20px">Please Process to </label>
                    <label for="Counter" style="font-size:35px; font-weight:bold">COUNTER 3</label>
                </div>
            </div>
        </div>
        <div class="row"><br /></div>
        <div class="row" style="background-color:white;font-size:25px">
            <marquee>--Running Text--</marquee>
        </div>
    </div>
</body>
</html>
