@{
    Layout = null;
}

<div class="image-form-wrapper">
    <h5>Add Image</h5>
    <div class="fileupload fileupload-new" data-provides="fileupload">
        <div class="fileupload-preview thumbnail" style="width: 200px; height: 150px">
            <img class="upload-preview" src="" >
        </div>
        <div>
            <span class="btn btn-mini btn-file">
                <span class="fileupload-new">Select image</span>
                <span class="fileupload-exists">Change</span><input type="file" name="imageFile" id="file-item-upload" />
            </span> 
            <a href="#" class="btn btn-mini fileupload-exists" data-dismiss="fileupload">Remove</a>            
        </div>
    </div>
    <div class="button-upload"><button class="btn btn-success">Upload</button></div>
</div>
