.k-datepicker-wrapper {
  margin: 1px 0 14px;
}
.k-datepicker-wrapper .k-datepicker,
.k-datepicker-wrapper .k-timepicker,
.k-datepicker-wrapper .k-datetimepicker {
  width: 100%;
}
.k-datepicker-wrapper .k-datepicker .k-picker-wrap,
.k-datepicker-wrapper .k-timepicker .k-picker-wrap,
.k-datepicker-wrapper .k-datetimepicker .k-picker-wrap {
  border: none;
}
.k-datepicker-wrapper .k-datepicker .k-picker-wrap input,
.k-datepicker-wrapper .k-timepicker .k-picker-wrap input,
.k-datepicker-wrapper .k-datetimepicker .k-picker-wrap input {
  border: 1px solid #4db7ff;
  font-size: 14px;
  padding-left: 4px;
  height: 32px;
  box-shadow: 0px 1px 2px #b3e0ff inset;
}
.k-datepicker-wrapper .k-datepicker .k-picker-wrap .k-select,
.k-datepicker-wrapper .k-timepicker .k-picker-wrap .k-select,
.k-datepicker-wrapper .k-datetimepicker .k-picker-wrap .k-select {
  border: 1px solid #4db7ff;
  border-left: none;
}
.k-datepicker-wrapper .k-datepicker .k-picker-wrap .k-select .k-icon,
.k-datepicker-wrapper .k-timepicker .k-picker-wrap .k-select .k-icon,
.k-datepicker-wrapper .k-datetimepicker .k-picker-wrap .k-select .k-icon {
  margin-top: -2px;
  margin-right: -2px;
}
.k-datepicker-wrapper .k-datepicker .k-picker-wrap label.error,
.k-datepicker-wrapper .k-timepicker .k-picker-wrap label.error,
.k-datepicker-wrapper .k-datetimepicker .k-picker-wrap label.error {
  display: none !important;
}
.k-datepicker-wrapper .k-datepicker .k-picker-wrap,
.k-datepicker-wrapper .k-timepicker .k-picker-wrap {
  padding-right: 28px;
}
.k-datepicker-wrapper .k-datetimepicker .k-picker-wrap {
  padding-right: 48px;
}
.k-datepicker-wrapper .k-datetimepicker .k-picker-wrap .k-select .k-icon.k-i-clock {
  margin-right: -10px;
}
.k-number-wrapper {
  margin: 0 0 14px 0;
}
.k-number-wrapper .k-numerictextbox {
  width: 100%;
}
.k-number-wrapper .k-numerictextbox .k-numeric-wrap input {
  font-size: 14px;
  text-align: right;
  height: 32px;
  padding: 0 8px;
}
.kgrid .k-grid-header {
  padding-right: 0!important;
  /*height: 31px;*/

}
.kgrid .k-grid-header .k-grid-header-wrap {
  border: none;
  background-color: transparent;
  height: 31px;
}
.kgrid .k-grid-header .k-grid-header-wrap th.k-header {
  height: 30px;
  border: none;
  padding: 4px 10px;
}
.kgrid .k-grid-header .k-grid-header-wrap th.k-header a.k-link.right {
  margin-right: 0px;
  text-align: right;
}
.kgrid .k-grid-content {
  overflow-y: auto;
}
.kgrid .k-grid-content > table {
  margin: 0;
}
.kgrid .k-grid-content > table td {
  padding: 4px 10px;
  border: none;
}
.kgrid .k-grid-content > table .k-state-selected td {
  color: white;
}
.kgrid .k-grid-footer {
  padding-right: 0!important;
  height: 31px;
}
.kgrid .k-grid-footer .k-grid-footer-wrap {
  border: none;
  background-color: transparent;
  height: 30px;
}
.kgrid .k-grid-footer .k-grid-footer-wrap td {
  border: none;
  text-align: right;
}
.kgrid .k-grid-pager {
  height: 31px;
}
.kgrid .k-grid-pager .k-pager-sizes .k-widget.k-dropdown.k-header {
  margin: -4px 8px 0 !important;
  width: 65px;
}
.kgrid .right {
  text-align: right;
}
.panel.kgrid {
  max-width: 100%;
}
.panel.kgrid.k-panel {
  max-width: 1100px;
  min-width: 570px;
}
.panel.kgrid > div.divider {
  margin: 0;
}
.panel.kgrid > div > div {
  margin: 0 -10px 10px 0;
  padding: 0;
}
.panel.klookup {
  margin: 0;
  padding: 0;
  border: none;
}
.panel.klookup > .header .title {
  border-bottom: 1px solid #66c1ff;
  font-size: 24px;
  margin-top: -8px;
  padding-bottom: 4px;
}
.panel.klookup > .header .buttons {
  float: right;
  margin-top: -28px;
}
.panel.klookup > .header .buttons button {
  padding: 2px 4px;
  height: 24px;
  width: 28px;
}
.panel.klookup > .content {
  min-height: 100px;
  padding: 10px 0 0;
}
.panel.klookup > .content tr {
  cursor: pointer;
}
.panel.klookup > .footer {
  /*border-top: 1px solid lighten(@base-color, 30%);*/

}
.panel.klookup > .footer .buttons {
  float: right;
}
.panel.klookup > .footer .buttons button {
  margin: 10px 0 4px 4px;
  padding: 7px 10px;
}
.panel.kchart {
  max-width: 100%;
}
.panel.kchart > div.divider {
  margin: 0;
}
.panel.kchart > div.table {
  padding: 0;
}
.panel.kchart > div > div {
  margin: 0 -10px 10px 0;
  padding: 0;
  height: 320px;
}
.panel.kchart > div table {
  border: none;
  margin: 0;
  width: 100%;
  border-spacing: 1px;
  background-color: #cccccc;
  font-size: 12px;
}
.panel.kchart > div table tbody th,
.panel.kchart > div table tbody td {
  background-color: white;
}
