<!-- RIBBON -->
<div id="ribbon">
    <span class="ribbon-button-alignment">
        <span id="refresh" class="btn btn-ribbon"><i class="fa fa-question"></i></span>
    </span>

    <ol class="breadcrumb">
        <li>Home</li>
        <li>Dashboard</li>
    </ol>

    <span class="ribbon-button-alignment pull-right">
        <span id="btn-load-schema" class="btn btn-ribbon" data-title="generate-schema"><i class="fa fa-cogs"></i>  Generate Schema </span>
        <span id="btn-save-editor" class="btn btn-ribbon" data-title="save-editor"><i class="fa fa-save"></i>  Save </span>
    </span>

</div>
<!-- END RIBBON -->