@font-face {
  font-family: 'segoeui';
  src: url('../font/segoe-ui.eot');
  src: url('../font/segoe-ui.eot?#iefix') format('embedded-opentype'), url('../font/segoe-ui.woff') format('woff'), url('../font/segoe-ui.ttf') format('truetype'), url('../font/segoe-ui.svg#segoe-ui') format('svg');
}
/*@base-color: white;*/
body {
  background-color: #00193c;
  font-family: "segoeui";
  margin: 0;
}
body input[disabled],
body select[disabled],
body textarea[disabled],
body input[readonly],
body select[readonly],
body textarea[readonly] {
  cursor: not-allowed;
  background-color: #ececec;
}
body input[type="radio"][disabled],
body input[type="checkbox"][disabled],
body input[type="radio"][readonly],
body input[type="checkbox"][readonly] {
  background-color: transparent;
}
.page {
  width: 100%;
}
.page .header {
  min-height: 350px;
  background-color: #ffffff;
}
.page .header .profile {
  padding: 10px 20px;
  font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}
.page .header .profile .title {
  color: #0043a2;
  font-size: 32px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-shadow: 0 0 1px #0094FF;
}
.page .header .profile .subtitle {
  font-size: 18px;
  font-weight: bolder;
  color: #002e6f;
}
.page .header .profile .info {
  float: right;
  font-size: 18px;
  font-weight: bolder;
  color: #0043a2;
  text-shadow: 0 0 1px #0094FF;
  margin-top: -50px;
}
.page .body .helpdesk {
  padding: 10px 20px;
  color: #ffffff;
  font-weight: normal;
  font-size: 16px;
}
.page .body .helpdesk li {
  display: block;
  padding-left: 0px;
  font-weight: normal;
  font-size: 14px;
}
.page .login,
.page .logout {
  position: absolute;
  top: 220px;
  right: 100px;
  width: 400px;
}
.page .login form > div,
.page .logout form > div {
  margin-top: 4px;
  padding: 0 10px 0 0;
  float: left;
  width: 100%;
}
.page .login form > div > label,
.page .logout form > div > label {
  display: block;
  line-height: 10px;
}
.page .login form > div > div,
.page .logout form > div > div {
  margin-top: -24px;
  padding-left: 120px;
}
.page .modules {
  position: absolute;
  top: 360px;
  right: 100px;
  width: 285px;
  color: #ffffff;
  font-weight: 600;
  font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}
.page .modules ul {
  font-size: 24px;
}
.page .modules ul li {
  font-size: 14px;
  display: block;
}
.page .modules ul li label {
  font-size: 14px;
  font-weight: bold;
}
.page .modules ul li a {
  color: #ffffff;
  text-decoration: none;
}
.page .modules ul li:hover a {
  color: #a2c8ff;
}
.hide {
  display: none;
}
.validetta-inline {
    color: green;
    padding-top: 3px; 
    font-weight: bold;
}