<!-- RIBBON -->
<div id="ribbon">
    <span class="ribbon-button-alignment">
        <span id="refresh" class="btn btn-ribbon" ng-click="reloadPage()"><i class="fa fa-refresh" ></i></span>
    </span>

    <ol class="breadcrumb">
        <li>Home</li>
        <li>Dashboard</li>
    </ol>

    <span class="ribbon-button-alignment pull-right">
        <span id="btn-load-schema" class="btn btn-ribbon hide" data-title="generate-schema"><i class="fa fa-cogs"></i>  Generate Schema </span>
        <span id="btn-save-editor" class="btn btn-ribbon hide" data-title="save-editor"><i class="fa fa-save"></i>  Save </span>
        <span id="btn-clear-cache" class="btn btn-ribbon hide" data-title="clear-cache"><i class="fa fa-trash"></i>  Clear Cache </span>
    </span>

</div>
<!-- END RIBBON -->