alter table [SysMenuDms] add menuicon varchar(50)
GO
delete from [SysMenuDms]
GO

INSERT [dbo].[SysMenuDms] ([MenuId], [MenuCaption], [MenuHeader], [MenuIndex], [MenuLevel], [MenuUrl], [MenuIcon]) VALUES (N' csinqattendance', N'Attendance', N'abinqgen', 5, 1, N'Inquiry/Attendance', NULL)
INSERT [dbo].[SysMenuDms] ([MenuId], [MenuCaption], [MenuHeader], [MenuIndex], [MenuLevel], [MenuUrl], [MenuIcon]) VALUES (N'abdasempldept', N'Employee By Dept', N'abdashboard', 2, 2, N'dashboard/emplbydept', NULL)
INSERT [dbo].[SysMenuDms] ([MenuId], [MenuCaption], [MenuHeader], [MenuIndex], [MenuLevel], [MenuUrl], [MenuIcon]) VALUES (N'abdasempldist', N'Employee Distribution', N'abdashboard', 1, 2, N'dashboard/empldist', NULL)
GO

alter table [SysModule] add Icon varchar(50)
GO

delete from SysModule
GO

INSERT [dbo].[SysModule] ([ModuleId], [ModuleCaption], [ModuleIndex], [ModuleUrl], [InternalLink], [IsPublish], [Icon]) VALUES (N'ab', N'Man Power Management', 7, N'', 1, 1, N'fa fa-lg fa-fw fa-user')
INSERT [dbo].[SysModule] ([ModuleId], [ModuleCaption], [ModuleIndex], [ModuleUrl], [InternalLink], [IsPublish], [Icon]) VALUES (N'cs', N'Customer Satisfaction', 8, N'', 1, 1, N'fa fa-lg fa-fw fa-thumbs-o-up')
INSERT [dbo].[SysModule] ([ModuleId], [ModuleCaption], [ModuleIndex], [ModuleUrl], [InternalLink], [IsPublish], [Icon]) VALUES (N'dc', N'Documentation', 10, N'RedirectToDoc', 1, 0, N'fa fa-lg fa-fw fa-file-word-o')

delete from sysrole
GO

INSERT [dbo].[sysRole] ([RoleId], [RoleName], [Themes], [IsActive], [IsAdmin], [IsChangeBranchCode]) VALUES (N'Accounting', N'Accounting', N'', 1, 0, 1)
INSERT [dbo].[sysRole] ([RoleId], [RoleName], [Themes], [IsActive], [IsAdmin], [IsChangeBranchCode]) VALUES (N'ADM', N'ADM', N'', 1, 1, 1)
INSERT [dbo].[sysRole] ([RoleId], [RoleName], [Themes], [IsActive], [IsAdmin], [IsChangeBranchCode]) VALUES (N'ADMIN', N'ADMINISTRATOR', N'', 1, 1, 1)


delete from [sysRoleMenu]
GO

INSERT [dbo].[sysRoleMenu] ([RoleId], [MenuId]) VALUES (N'Accounting', N'gnadminaudit')
INSERT [dbo].[sysRoleMenu] ([RoleId], [MenuId]) VALUES (N'Accounting', N'gnautonocust')
INSERT [dbo].[sysRoleMenu] ([RoleId], [MenuId]) VALUES (N'Accounting', N'gnautonosupp')
GO




delete from [SysRoleModule]
GO

INSERT [dbo].[SysRoleModule] ([RoleID], [ModuleID]) VALUES (N'ADMIN', N'ab')
INSERT [dbo].[SysRoleModule] ([RoleID], [ModuleID]) VALUES (N'ADMIN', N'cs')
INSERT [dbo].[SysRoleModule] ([RoleID], [ModuleID]) VALUES (N'ADMIN', N'dc')

insert into SysRoleuser(UserId,RoleId) values ('GA','ADMIN')
go

if object_id('usprpt_GnGenerateCsvSkemaTaxOut') is not null
	drop procedure usprpt_GnGenerateCsvSkemaTaxOut
GO

CREATE procedure [dbo].[usprpt_GnGenerateCsvSkemaTaxOut]
	@CompanyCode varchar(15)
	,@BranchCode varchar(15)
	,@PeriodFrom smalldatetime
	,@PeriodTo smalldatetime
	,@ProductType varchar(2)
	,@table varchar(1)=1
as

--execute usprpt_GnGenerateCsvSkemaTaxOut '6006406','6006406','2014/03/01','2014/03/31','4W',3
--select @CompanyCode=N'6006406',@BranchCode=N'6006401',@PeriodFrom='2014-04-01',@PeriodTo='2014-04-30',@ProductType=N'4W'

-- 0= Not Recalculate PPN, 1= Recalculate PPN (For FPJ Gabungan)
declare @IsRecalPPN as bit
set @IsRecalPPN=0

if @table = 1
begin
	if (select count(ParaValue) from gnMstLookUpDtl where CodeID='CPPN' and LookUpValue='STATUS') > 0
	set @IsRecalPPN= (select convert(bit,ParaValue) from gnMstLookUpDtl where CodeID='CPPN' and LookUpValue='STATUS')

		SELECT FK
			, KD_JENIS_TRANSAKSI
			, FG_PENGGANTI
			--, '0001400000001'NOMOR_FAKTUR
			, left(NOMOR_FAKTUR,3) +  substring(NOMOR_FAKTUR,7,10) NOMOR_FAKTUR
			, MASA_PAJAK
			, TAHUN_PAJAK
			, TANGGAL_FAKTUR
			,  NPWP
			, NAMA_LAWAN_TRANSAKSI NAMA
			, ALAMAT_LENGKAP
			, JUMLAH_DPP
			, JUMLAH_PPN
			, JUMLAH_PPNBM
			, ID_KETERANGAN_TAMBAHAN
			, FG_UANG_MUKA
			, UANG_MUKA_DPP
			, UANG_MUKA_PPN
			, UANG_MUKA_PPNBM
			, REFERENSI
			, CUSTOMERCODE
			, FPJNO
		FROM (
			SELECT
				'FK' FK
				, LEFT(TaxNo,2) KD_JENIS_TRANSAKSI
				, 0 FG_PENGGANTI
				, REPLACE(REPLACE(TaxNo, '.', ''), '-', '') NOMOR_FAKTUR
				, (case when len(PeriodMonth) = 1 then convert(varchar, PeriodMonth, 1) 
					else convert(varchar, PeriodMonth, 2) end) MASA_PAJAK
				, PeriodYear TAHUN_PAJAK
				, CONVERT(VARCHAR, TaxDate, 103) TANGGAL_FAKTUR
				, REPLACE(REPLACE(NPWP, '.', ''), '-', '') NPWP
				, CustomerName NAMA_LAWAN_TRANSAKSI
				, CASE WHEN LEFT(FPJNO,3) = 'FPJ' THEN 
				(SELECT Address1 + ' ' + Address2 FROM SPTRNSFPJINFO WHERE COMPANYCODE = gnTaxOut.COMPANYCODE AND BRANCHCODE = gnTaxOut.BRANCHCODE AND FPJNO =	gnTaxOut.FPJNO) ELSE  
				  CASE WHEN LEFT(FPJNO,3) = 'FPS' THEN 
				(SELECT Address1 + ' ' + Address2 FROM svTrnFakturPajak WHERE COMPANYCODE = gnTaxOut.COMPANYCODE AND BRANCHCODE = gnTaxOut.BRANCHCODE AND FPJNO = gnTaxOut.FPJNO) ELSE				(SELECT Address1 + ' ' + Address2 FROM GNMSTCUSTOMER WHERE COMPANYCODE = gnTaxOut.COMPANYCODE AND BRANCHCODE = gnTaxOut.BRANCHCODE 
				AND CUSTOMERCODE = gnTaxOut.CUSTOMERCODE)	
				  END END ALAMAT_LENGKAP
				--, ISNULL(DPPAmt, 0) JUMLAH_DPP
				, JUMLAH_DPP = (case when left(FPJNO,3) = 'FPJ'
										  then floor((select sum(isnull(NetSalesAmt,0)) from spTrnSInvoicedtl
										          where CompanyCode=gnTaxOut.CompanyCode
												    and BranchCode=gnTaxOut.BranchCode
											  	    and InvoiceNo=gnTaxOut.ReferenceNo))
									 when left(FPJNo,3) = 'FPS'
									      then floor((select isnull(sum((RetailPrice * SupplyQty)-(RetailPrice * SupplyQty * DiscPct /100.00)),0) from svTrnInvItem
										          where CompanyCode=gnTaxOut.CompanyCode
												    and BranchCode=gnTaxOut.BranchCode
												  and InvoiceNo=gnTaxOut.ReferenceNo) 
											   +(select isnull(sum((OperationCost * OperationHour)-(OperationCost * OperationHour * DiscPct /100.00)),0) from svTrnInvTask
										          where CompanyCode=gnTaxOut.CompanyCode
												    and BranchCode=gnTaxOut.BranchCode
												  and InvoiceNo=gnTaxOut.ReferenceNo))
									 else isnull(DPPAmt,0) end)
				--, ISNULL(PPNAmt, 0) JUMLAH_PPN
				, JUMLAH_PPN = (case when left(FPJNO,3) = 'FPJ'
										  then floor(floor((select sum(isnull(NetSalesAmt,0)) from spTrnSInvoicedtl
										          where CompanyCode=gnTaxOut.CompanyCode
												    and BranchCode=gnTaxOut.BranchCode
												  and InvoiceNo=gnTaxOut.ReferenceNo))*0.1)
									 when left(FPJNo,3) = 'FPS'
									      then floor((floor((select isnull(sum((RetailPrice * SupplyQty)-(RetailPrice * SupplyQty * DiscPct /100.00)),0) from svTrnInvItem
										          where CompanyCode=gnTaxOut.CompanyCode
												    and BranchCode=gnTaxOut.BranchCode
												    and InvoiceNo=gnTaxOut.ReferenceNo) 
											   +(select isnull(sum((OperationCost * OperationHour)-(OperationCost * OperationHour * DiscPct /100.00)),0) from svTrnInvTask
										          where CompanyCode=gnTaxOut.CompanyCode
												    and BranchCode=gnTaxOut.BranchCode
												  and InvoiceNo=gnTaxOut.ReferenceNo)))*0.1)
									 else isnull(PPNAmt,0) end)
				, ISNULL(PPNBmAmt, 0) JUMLAH_PPNBM
				, '' ID_KETERANGAN_TAMBAHAN
				, 0 FG_UANG_MUKA
				, 0 UANG_MUKA_DPP
				, 0 UANG_MUKA_PPN
				, 0 UANG_MUKA_PPNBM
				, 'No. Invoice : '+ ReferenceNo REFERENSI
				, CUSTOMERCODE
				, FPJNO
			FROM 
				gnTaxOut 
			WHERE
				CompanyCode = @CompanyCode
				AND BranchCode like @BranchCode
				AND ProductType = @ProductType
				--AND PeriodYear = @PeriodYear
				--AND PeriodMonth = @PeriodMonth
				AND CONVERT(VARCHAR, TaxDate, 112) BETWEEN @PeriodFrom AND @PeriodTo 
				AND IsPKP = 1
)A
end
if @table = 2
begin
	select  'LT' LT, REPLACE(REPLACE(NPWPNo, '.', ''), '-', '') NPWP, CustomerName NAMA, Address1 + Address2 JALAN, '-' BLOK, '-' NOMOR, '0' RT, '0' RW, 
	KecamatanDistrik KECAMATAN, KelurahanDesa KELURAHAN, KotaKabupaten KABUPATEN, 
	case when isnull(ProvinceCode,'') = '' then '-' else (isnull((select top 1 lookupvaluename from gnmstlookupdtl where codeid='PROV' and LookUpValue = ProvinceCode),'-' ))end PROPINSI, 
	ZipNo KODE_POS, PhoneNo NOMOR_TELEPON, CUSTOMERCODE
	from gnMstCustomer 
	where CustomerCode in 
	(select distinct CustomerCode from gnTaxOut WHERE
					CompanyCode = @CompanyCode
					AND BranchCode like @BranchCode
					AND ProductType = @ProductType
					--AND PeriodYear = @PeriodYear
					--AND PeriodMonth = @PeriodMonth
					AND CONVERT(VARCHAR, TaxDate, 112) BETWEEN @PeriodFrom AND @PeriodTo 
					AND IsPKP = 1)
end
if @table = 3
begin
		select * from (
						select 'OF' [OF]
						, PartNo KODE_OBJEK
						, (select replace(rtrim(Partname),',',' ') from spmstiteminfo where companycode = a.companycode and partno = a.partno) NAMA
						, isnull ((convert(decimal(12,2),a.retailprice)), 0.00) HARGA_SATUAN
						, isnull ((convert(decimal(12,2),a.QtyBill)), 0.00) JUMLAH_BARANG
						, isnull ((convert(decimal(12,2),a.SalesAmt)), 0.00)HARGA_TOTAL
						, isnull ((convert(decimal(12,2),a.DiscAmt)), 0.00) DISKON
						, isnull ((convert(decimal(12,2),a.NetSalesAmt)), 0.00) DPP
						, isnull ((convert(decimal(12,2),a.NetSalesAmt * 0.10)), 0.00) PPN
						, 0 TARIF_PPNBM
						, 0 PPNBM
						, b.CUSTOMERCODE 
						, b.FPJNO
						from spTrnSInvoicedtl a
						inner join (select companycode, branchcode, fpjno, customercode, referenceNo
									from gntaxout 
									 WHERE CompanyCode = @CompanyCode
											AND BranchCode = @BranchCode
											AND ProductType = @ProductType
											--AND PeriodYear = @PeriodYear
											--AND PeriodMonth = @PeriodMonth
											AND CONVERT(VARCHAR, TaxDate, 112) BETWEEN @PeriodFrom AND @PeriodTo 
											AND IsPKP = 1
											AND left(fpjno,3)='FPJ'
									) b
							on a.companycode = b.companycode and a.branchcode = b.branchcode
								and a.InvoiceNo = b.referenceNo
						union all
						select 'OF' [OF]
						, SalesModelCode KODE_OBJEK
						, (select SalesModelDesc from ommstmodel where companycode = a.companycode and salesmodelcode = a.salesmodelcode) NAMA
						, isnull ((convert(decimal(12,0),a.BeforeDiscDPP)), 0) HARGA_SATUAN
						, isnull ((convert(decimal(12,0),a.Quantity)), 0) JUMLAH_BARANG
						, isnull ((convert(decimal(12,0),a.BeforeDiscDPP * a.Quantity)),0) HARGA_TOTAL
						, isnull ((convert(decimal(12,0),a.DiscExcludePPn * a.Quantity)), 0) DISKON
						, isnull ((convert(decimal(12,0),a.AfterDiscDPP * a.Quantity)), 0) DPP
						, isnull ((convert(decimal(12,0),a.AfterDiscPPn * a.Quantity)), 0) PPN
						, 0 TARIF_PPNBM
						, 0 PPNBM
						, b.CUSTOMERCODE 
						, b.FPJNO
						from omTrSalesInvoicemodel a
						inner join (select companycode, branchcode, fpjno, customercode, referenceNo
									from gntaxout 
									 WHERE CompanyCode = @CompanyCode
											AND BranchCode = @BranchCode
											AND ProductType = @ProductType
											--AND PeriodYear = @PeriodYear
											--AND PeriodMonth = @PeriodMonth
											AND CONVERT(VARCHAR, TaxDate, 112) BETWEEN @PeriodFrom AND @PeriodTo 
											AND IsPKP = 1
											AND left(fpjno,3) not in ('FPJ','FPS')
									) b
							on a.companycode = b.companycode and a.branchcode = b.branchcode
								and a.InvoiceNo = b.referenceNo	
						union all 
						select 'OF' [OF]
						, rtrim(PartNo) KODE_OBJEK
						, (select replace(rtrim(Partname),',',' ') from spmstiteminfo where companycode = a.companycode and partno = a.partno) NAMA
						, isnull (convert(decimal(12,2),a.RetailPrice,0),0.00) HARGA_SATUAN
						, isnull (convert(decimal(12,2),a.SupplyQty,0),0.00) JUMLAH_BARANG
						, isnull (convert(decimal(12,2),a.RetailPrice * a.SupplyQty,0),0.00) HARGA_TOTAL
						, isnull (convert(decimal(12,2),a.RetailPrice * a.SupplyQty * DiscPct /100.00,0),0.00) DISKON
						, isnull (convert(decimal(12,2),(a.RetailPrice * a.SupplyQty)-(a.RetailPrice * a.SupplyQty * DiscPct /100.00),0),0.00) DPP
						, isnull (convert(decimal(12,2),(((a.RetailPrice * a.SupplyQty)-(a.RetailPrice * a.SupplyQty * DiscPct /100.00))*0.10),0),0.00) PPN
						, 0 TARIF_PPNBM
						, 0 PPNBM
						, b.CUSTOMERCODE 
						, b.FPJNO
						from svTrnInvItem a
						inner join (select companycode, branchcode, fpjno, customercode, referenceNo
									from gntaxout 
									 WHERE CompanyCode = @CompanyCode
											AND BranchCode like @BranchCode
											AND ProductType = @ProductType
											--AND PeriodYear = @PeriodYear
											--AND PeriodMonth = @PeriodMonth
											AND CONVERT(VARCHAR, TaxDate, 112) BETWEEN @PeriodFrom AND @PeriodTo 
											AND IsPKP = 1
											AND left(fpjno,3)='FPS' 
									) b
							on a.companycode = b.companycode and a.branchcode = b.branchcode
								and a.InvoiceNo = b.referenceNo	
-- tambahan untuk jasa service
						union all 
						select 'OF' [OF]
						, rtrim(OperationNo) KODE_OBJEK
						, (select top 1 replace(rtrim(Description),',',' ') from svMstTask 
						    where CompanyCode=a.CompanyCode and BasicModel=x.BasicModel and OperationNo=a.OperationNo
						  ) NAMA
						, isnull (convert(decimal(12,2),a.OperationCost,0),0.00) HARGA_SATUAN
						, isnull (convert(decimal(12,2),a.OperationHour,0),0.00) JUMLAH_BARANG
						, isnull (convert(decimal(12,2),a.OperationCost * a.OperationHour,0),0.00) HARGA_TOTAL
						, isnull (convert(decimal(12,2),a.OperationCost * a.OperationHour * DiscPct /100.00,0),0.00) DISKON
						, isnull (convert(decimal(12,2),(a.OperationCost * a.OperationHour)-(a.OperationCost * a.OperationHour * DiscPct /100.00),0),0.00) DPP
						, isnull (convert(decimal(12,2),(((a.OperationCost * a.OperationHour)-(a.OperationCost * a.OperationHour * DiscPct /100.00))*0.10),0),0.00) PPN
						, 0 TARIF_PPNBM
						, 0 PPNBM
						, b.CUSTOMERCODE 
						, b.FPJNO
						from svTrnInvTask a
						inner join svTrnInvoice x
						    on a.CompanyCode=x.CompanyCode and a.BranchCode=x.BranchCode and a.InvoiceNo=x.InvoiceNo
						inner join (select companycode, branchcode, fpjno, customercode, referenceNo
									from gntaxout 
									 WHERE CompanyCode = @CompanyCode
											AND BranchCode like @BranchCode
											AND ProductType = @ProductType
											AND CONVERT(VARCHAR, TaxDate, 112) BETWEEN @PeriodFrom AND @PeriodTo 
											AND IsPKP = 1
											AND left(fpjno,3)='FPS' 
									) b
							on a.companycode = b.companycode and a.branchcode = b.branchcode
								and a.InvoiceNo = b.referenceNo	
				) a
	 order by FPJNO
end
GO


if not exists (Select * from SysMenuDms where menuid = 'GnRpSkemaTaxOut')
begin 
	INSERT INTO [dbo].[SysMenuDms]
			   ([MenuId]
			   ,[MenuCaption]
			   ,[MenuHeader]
			   ,[MenuIndex]
			   ,[MenuLevel]
			   ,[MenuUrl]
			   ,[MenuIcon])
		 VALUES
			   ('GnRpSkemaTaxOut'
			   ,'Laporan eFaktur Pajak Keluaran'
			   ,'taxReport'
			   ,'7'
			   ,'2'
			   ,'report/skemataxout'
			   ,'')
end
GO

insert into sysRoleMenu (RoleId, MenuId) VALUES ('ADMIN','GnRpSkemaTaxOut')
GO
