<ion-view title="Change Password">

    <ion-content id="social-sign-up-content">
        <div class="app-icon">
            <img src="img/changepassword.png" class="md-card-image">
        </div>

		
        <md-input-container md-no-float="">
            <div>
                <input type="password" class="user-name" placeholder="Old Password">
            </div>
        </md-input-container>
		
		<md-input-container md-no-float="">
            <div>
                <input type="password" class="user-name" placeholder="New Password">
            </div>
        </md-input-container>
		
        <md-input-container md-no-float="">
            <div>
                <input type="password" class="user-name" placeholder="Confirm New Password">
            </div>
        </md-input-container>
        
		<div class="row">
			<div class="col">
				<button   class="left md-raised md-button md-warn"  ng-click="logout($event)">Cancel</button>
			</div>
			<div class="col">
				<button   class="right md-raised md-button md-accent"  ng-click="logout($event)"> OK </button>
			</div>
		</div>

    </ion-content>
</ion-view>