@{
    Layout = "~/Views/Shared/_Login.cshtml";
    ViewBag.Title = "Login Form";
}
<script src="@Url.Content("~/assets/js/app/login.js")"></script>
<div class="login">
    <form method="post">
        <div>
            <label>User Name</label>
            <div>
                <input type="text" placeholder="User Name" id="UserName" name="UserName" required="required" onkeypress="runScript(event)"  />
            </div>
        </div>
        <div>
            <label>Password</label>
            <div>
                <input type="password" placeholder="Password" id="Password" name="Password" required="required" onkeypress="runScript(event)" />
            </div>
        </div>
        <div>
            <label>&nbsp;</label>
            <div>
                <a href="#" class="btn btn-primary" id="btnLogIn">Log In</a><br/>
                <div class="validetta-inline">@ViewBag.Message</div>
            </div>
        </div>

    </form>
</div>
