body {
  background-color: #eaf0f9;
}
body .slide {
  color: #fff;
  width: 1000px;
  height: 560px;
  margin: 0 20px 20px;
  padding: 20px 40px;
  background: none repeat scroll 0 0 #3669AE;
  border-radius: 10px;
  box-shadow: 8px 8px 8px #808080;
  opacity: 0.1;
}
body .slide h2 {
  font-size: 45px;
  margin: 0;
  border-bottom: 2px solid;
}
body .slide ul {
  margin-top: 30px;
}
body .slide ul li {
  font-size: 28px;
  margin: 20px 24px;
}
body .slide.active {
  opacity: 0.9;
}
body .slide.home h2 {
  font-size: 60px;
  text-align: center;
  margin-top: 240px;
  border: none;
}
body .slide.home h5 {
  font-size: 20px;
  text-align: center;
  margin-top: -10px;
}
body .slide.screen.past {
  display: none;
}
body .slide.code.future {
  display: none;
}
body .slide img {
  max-width: 1000px;
  max-height: 480px;
  margin-top: 10px;
}
body .overview {
  opacity: 0.0;
}
body .overview h2 {
  font-size: 90px;
  text-align: center;
  border: none;
}
body .overview.active {
  opacity: 1;
}
