@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>ITS Executive Summary</title>
    <link href="@Url.Content("~/assets/css/dashboard.css")" rel="stylesheet" />
</head>
<body>
    <h1>ITS Executive Summary</h1>
    <div class="das-table">
        <div class="das-tr">
            <div class="das-td">
                <div class="cell">1</div>
            </div>
            <div class="das-td">
                <div class="cell">2</div>
            </div>
            <div class="das-td">
                <div class="cell">3</div>
            </div>
            <div class="das-td">
                <div class="cell">4</div>
            </div>
        </div>
    </div>
</body>
</html>
