<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net"
       type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="DMSSendDataLog.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>

    <root>
      <level value="INFO" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <appSettings>
    <!--
    <add key="UrlSendDataSchedule" value="http://localhost/simdmserv/util.api/SendShedule/SaveScheduleDataDms"/>
    <add key="UrlTokenAccess" value="http://localhost/simdmserv/util.api/TokenAccess/GetTokenAccess"/>
    -->
    <add key="UrlSendDataSchedule" value="http://localhost/simdmsweb/util.api/SendShedule/SaveScheduleDataDms"/>
    <add key="UrlTokenAccess" value="http://localhost/simdmsweb/util.api/TokenAccess/GetTokenAccess"/>
    <add key="LastUpdateColumn" value="LastUpdatedDate"/>
    <!-- Time out in second-->
    <add key="CommandTimeOut" value="90"/>
  </appSettings>
  <connectionStrings>
    <!--
    <add name="DataContext" connectionString="Data Source=tbsdmsap01;Initial Catalog=sim_dms_dealer_bit bit_db; Integrated Security=false; User ID=sa; Password=P4ssw0rd-01; application name=SdmsSendData" providerName="System.Data.SqlClient"/>
    <add name="DataContext" connectionString="Data Source=tbsdmsap01;Initial Catalog=SimDmsDealerDemo; Integrated Security=false; User ID=sa; Password=P4ssw0rd-01; application name=SimDMSSendData" providerName="System.Data.SqlClient"/>
    -->
    <add name="DataContext" connectionString="Data Source=hqdmsdev02;Initial Catalog=BIT_20130325; Integrated Security=false; User ID=sa; Password=P4ssw0rd-01 ; application name=SimDMSSendData" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.web>
    <sessionState timeout="10"></sessionState>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>
